Repository com-oneredboot/orb-integration-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, bandit, frontend-lint, check-yaml, check-json, check-toml, pytest-backend

.pre-commit-config.yaml:

# Pre-commit hooks configuration for orb-integration-hub
# See https://pre-commit.com for more information
#
# NOTE: Uses local hooks to run in main pipenv environment instead of isolated environments.
# This avoids CodeArtifact authentication issues for standard development tools.
#
# SETUP: After cloning, create the git hook wrapper:
#   cat > .git/hooks/pre-commit << 'EOF'
#   #!/bin/bash
#   pipenv run pre-commit run --config=.pre-commit-config.yaml
#   EOF
#   chmod +x .git/hooks/pre-commit
#
# CRITICAL: NEVER use `git commit --no-verify` to bypass pre-commit hooks.

repos:
  - repo: local
    hooks:
      # ============================================
      # Python Hooks
      # ============================================

      # Black - Code formatting
      - id: black
        name: Format Python with black
        entry: pipenv run black --line-length=100
        language: system
        types: [python]
        files: ^apps/api/.*\.py$

      # Ruff - Fast linting
      - id: ruff
        name: Lint Python with ruff
        entry: pipenv run ruff check --fix --exit-non-zero-on-fix
        language: system
        types: [python]
        files: ^apps/api/.*\.py$

      # MyPy - Static type checking
      - id: mypy
        name: Type check with mypy
        entry: pipenv run mypy --ignore-missing-imports
        language: system
        types: [python]
        files: ^apps/api/.*\.py$

      # Bandit - Security scanning
      - id: bandit
        name: Security check with bandit
        entry: pipenv run bandit -f json --skip B101
        language: system
        types: [python]
        files: ^apps/api/.*\.py$
        exclude: ^apps/api/tests/.*\.py$

      # ============================================
      # Frontend Hooks (Angular/TypeScript)
      # ============================================

      - id: frontend-lint
        name: Lint frontend with ESLint
        entry: bash -c 'cd apps/web && npm run lint'
        language: system
        files: ^apps/web/.*\.(ts|html)$
        pass_filenames: false

      # ============================================
      # General File Hygiene
      # ============================================

      - id: check-yaml
        name: Check YAML syntax
        entry: python -c "import yaml, sys; yaml.safe_load(open(sys.argv[1], encoding='utf-8'))"
        language: system
        types: [yaml]

      - id: check-json
        name: Check JSON syntax
        entry: python -c "import json, sys; json.load(open(sys.argv[1], encoding='utf-8'))"
        language: system
        types: [json]

      - id: check-toml
        name: Check TOML syntax
        entry: python -c "import tomllib, sys; tomllib.load(open(sys.argv[1], 'rb'))"
        language: system
        types: [toml]

      # ============================================
      # Test Hooks
      # ============================================

      - id: pytest-backend
        name: Run backend tests
        entry: bash -c 'cd apps/api && pipenv run pytest tests/ --tb=short -q'
        language: system
        files: ^apps/api/.*\.py$
        pass_filenames: false

fix: verify TOTP code on MFA_SETUP step
  apps/web/src/app/features/user/components/auth-flow/auth-flow.component.ts
Due: frontend-lint

fix: use userPool auth for UsersQueryByEmail
  apps/web/src/app/core/services/user.service.ts
Due: frontend-lint

fix: use userPool auth for all Users queries
  apps/web/src/app/core/services/user.service.ts
Due: frontend-lint

feat: create DynamoDB record after MFA when user missing
  apps/web/src/app/core/services/user.service.ts
  apps/web/src/app/features/user/store/user.actions.ts
  apps/web/src/app/features/user/store/user.effects.ts
  apps/web/src/app/features/user/store/user.reducer.ts
Due: frontend-lint

debug: add logging to handleMFASuccess for CREATE_DYNAMO_RECORD flow
  apps/web/src/app/features/user/store/user.effects.ts
Due: frontend-lint

feat: enhance debug summary with extended state info
  apps/web/src/app/core/services/debug-log.service.ts
  apps/web/src/app/features/user/components/auth-flow/auth-flow.component.ts
Due: frontend-lint

fix: remove icons from debug section
  apps/web/src/app/features/user/components/auth-flow/auth-flow.component.html
Due: frontend-lint

feat: add tests for CreateUserFromCognito feature
  .kiro/specs/create-user-from-cognito/design.md
  .kiro/specs/create-user-from-cognito/requirements.md
  .kiro/specs/create-user-from-cognito/tasks.md
  apps/api/enums/error_registry_enum.py
  apps/api/graphql/schema.graphql
  apps/api/lambdas/create_user_from_cognito/__init__.py
  apps/api/lambdas/create_user_from_cognito/index.py
  apps/api/lambdas/create_user_from_cognito/test_create_user_from_cognito.py
  apps/api/lambdas/create_user_from_cognito/test_create_user_from_cognito_property.py
  apps/api/models/__init__.py
  apps/api/tests/property/test_schema_auth_directives.sh
  apps/web/src/app/core/enums/ErrorRegistryEnum.ts
  apps/web/src/app/core/graphql/CreateUserFromCognito.graphql.ts
  apps/web/src/app/core/graphql/index.ts
  apps/web/src/app/core/models/AuthModel.ts
  apps/web/src/app/core/services/user.service.spec.ts
  apps/web/src/app/core/services/user.service.ts
  apps/web/src/app/features/user/store/user.actions.ts
  apps/web/src/app/features/user/store/user.effects.spec.ts
  apps/web/src/app/features/user/store/user.effects.ts
  apps/web/src/app/features/user/store/user.reducer.ts
  docs/api.md
  infrastructure/cdk/generated/appsync/api.py
  infrastructure/cdk/stacks/lambda_stack.py
  infrastructure/cdk/tests/test_lambda_stack.py
  schemas/lambdas/CreateUserFromCognito.yml
  schemas/registries/ErrorRegistry.yml
  schemas/tables/Users.yml
Due: black, ruff, mypy, bandit, frontend-lint, check-yaml, pytest-backend

docs: update tasks.md with commit reference
  .kiro/specs/create-user-from-cognito/tasks.md
Due: none

fix: add cognitoSub to Lambda response and fix TypeScript errors
  apps/api/lambdas/create_user_from_cognito/index.py
  apps/api/lambdas/create_user_from_cognito/test_create_user_from_cognito.py
  apps/web/src/app/core/services/user.service.ts
  apps/web/src/app/features/user/store/user.effects.ts
Due: black, ruff, mypy, bandit, frontend-lint, pytest-backend

fix: add handleSignInSuccess effect to trigger redirect after sign-in
  apps/web/src/app/features/user/store/user.effects.ts
Due: frontend-lint

feat: add ensure_user_in_group to CreateUserFromCognito Lambda
  apps/api/lambdas/create_user_from_cognito/index.py
Due: black, ruff, mypy, bandit, pytest-backend

fix: userCreate should only create Cognito user, not DynamoDB record
  apps/web/src/app/core/services/user.service.ts
Due: frontend-lint

docs: update auth-workflow-review findings - all release blockers resolved
  .kiro/specs/auth-workflow-review/tasks.md
Due: none

feat(dashboard): add CTA button when account status is not ACTIVE
  apps/web/src/app/features/user/components/dashboard/dashboard.component.html
  apps/web/src/styles/components.scss
Due: frontend-lint

style: change unknown status badge to warning color for better visibility
  apps/web/src/styles/components.scss
Due: none

refactor: remove redundant CTA button from dashboard header
  apps/web/src/app/features/user/components/dashboard/dashboard.component.html
Due: frontend-lint

fix: update dashboard status handling to match UserStatus enum values
  apps/web/src/app/features/user/components/dashboard/dashboard.component.ts
Due: frontend-lint

fix: update AppSync test to match v0.18.3 generated code
  infrastructure/cdk/tests/test_appsync_stack.py
Due: none

chore: add CDK synth to pre-commit hooks
  .pre-commit-config.yaml
Due: check-yaml

fix: resolve CDK deprecation warnings and add Cognito Plus tier
  infrastructure/cdk/stacks/cognito_stack.py
  infrastructure/cdk/stacks/dynamodb_stack.py
  infrastructure/cdk/stacks/frontend_stack.py
  infrastructure/cdk/tests/test_frontend_stack.py
Due: none

fix: enable API_KEY auth mode on AppSync API
  infrastructure/cdk/stacks/appsync_stack.py
Due: none

fix: remove fallback user in refreshSession to prevent Unknown status
  apps/web/src/app/features/user/store/user.effects.ts
Due: frontend-lint

fix: resolve groups array type and USER authorization for profile updates
  apps/api/graphql/schema.graphql
  schemas/lambdas/CreateUserFromCognito.yml
  schemas/tables/Users.yml
Due: check-yaml

fix: profile step navigation and timestamp serialization
  .kiro/specs/profile-setup-refactor/design.md
  .kiro/specs/profile-setup-refactor/requirements.md
  .kiro/specs/profile-setup-refactor/tasks.md
  .kiro/steering/frontend-components.md
  apps/api/lambdas/create_user_from_cognito/index.py
  apps/web/src/app/core/guards/auth.guard.property.spec.ts
  apps/web/src/app/core/guards/redirect-authenticated.guard.spec.ts
  apps/web/src/app/core/services/api.service.ts
  apps/web/src/app/core/services/auth-progress-storage.service.spec.ts
  apps/web/src/app/core/services/cognito.service.ts
  apps/web/src/app/core/services/csrf.service.ts
  apps/web/src/app/core/services/recovery.service.ts
  apps/web/src/app/core/services/user.service.ts
  apps/web/src/app/features/user/components/auth-flow/auth-flow.component.html
  apps/web/src/app/features/user/components/auth-flow/auth-flow.component.ts
  apps/web/src/app/features/user/components/dashboard/dashboard.component.html
  apps/web/src/app/features/user/components/dashboard/dashboard.component.ts
  apps/web/src/app/features/user/components/profile/profile.component.html
  apps/web/src/app/features/user/components/profile/profile.component.property.spec.ts
  apps/web/src/app/features/user/components/profile/profile.component.scss
  apps/web/src/app/features/user/components/profile/profile.component.spec.ts
  apps/web/src/app/features/user/components/profile/profile.component.ts
  apps/web/src/app/features/user/store/user.effects.ts
  apps/web/src/app/features/user/store/user.reducer.ts
  apps/web/src/app/features/user/store/user.selectors.ts
  apps/web/src/app/features/user/store/user.state.ts
  apps/web/src/app/shared/components/debug/debug-panel.component.scss
  apps/web/src/app/shared/components/debug/debug-panel.component.ts
  apps/web/src/app/shared/components/progress-steps/progress-steps.component.scss
  apps/web/src/app/shared/components/progress-steps/progress-steps.component.ts
  apps/web/src/main.ts
Due: black, ruff, mypy, bandit, frontend-lint, pytest-backend

refactor: use orb-common timestamp utilities #17
  apps/api/Pipfile
  apps/api/lambdas/create_user_from_cognito/index.py
Due: black, ruff, mypy, bandit, pytest-backend

fix: hide MFA check button when MFA is already enabled
  apps/web/src/app/features/user/components/dashboard/dashboard.component.html
Due: frontend-lint

fix: update phone placeholder to match E.164 validation format
  .github/ISSUES/README.md
  .github/ISSUES/orb-schema-generator-vtl-timestamp.md
  apps/web/src/app/features/user/components/profile/profile.component.html
Due: frontend-lint

feat: add common Lambda layer with orb-common package
  apps/api/layers/common/python/orb_common-0.2.0.dist-info/INSTALLER
  apps/api/layers/common/python/orb_common-0.2.0.dist-info/METADATA
  apps/api/layers/common/python/orb_common-0.2.0.dist-info/RECORD
  apps/api/layers/common/python/orb_common-0.2.0.dist-info/REQUESTED
  apps/api/layers/common/python/orb_common-0.2.0.dist-info/WHEEL
  apps/api/layers/common/python/orb_common-0.2.0.dist-info/top_level.txt
  apps/api/layers/common/python/orb_common/__init__.py
  apps/api/layers/common/python/orb_common/environment.py
  apps/api/layers/common/python/orb_common/py.typed
  apps/api/layers/common/python/orb_common/timestamps.py
  infrastructure/cdk/stacks/lambda_layers_stack.py
  infrastructure/cdk/stacks/lambda_stack.py
Due: black, ruff, mypy, bandit, pytest-backend

test: update lambda layers test to expect 3 layers #17
  infrastructure/cdk/tests/test_lambda_layers_stack.py
Due: none

fix: allow USER group to query Users table and fix userQueryByUserId response parsing
  apps/api/graphql/schema.graphql
  apps/web/src/app/core/services/user.service.ts
  schemas/tables/Users.yml
Due: frontend-lint, check-yaml

feat: add GetCurrentUser Lambda for secure self-lookup
  apps/api/graphql/schema.graphql
  apps/api/lambdas/get_current_user/index.py
  apps/api/models/__init__.py
  apps/web/src/app/core/graphql/GetCurrentUser.graphql.ts
  apps/web/src/app/core/graphql/index.ts
  apps/web/src/app/core/services/user.service.ts
  infrastructure/cdk/generated/appsync/api.py
  infrastructure/cdk/stacks/lambda_stack.py
  infrastructure/cdk/tests/test_lambda_stack.py
  schemas/lambdas/GetCurrentUser.yml
  schemas/tables/Users.yml
Due: black, ruff, mypy, bandit, frontend-lint, check-yaml, pytest-backend

fix: add updateProfileSuccess action to prevent dashboard redirect
  apps/web/src/app/features/user/components/profile/profile.component.ts
  apps/web/src/app/features/user/store/user.actions.ts
  apps/web/src/app/features/user/store/user.reducer.ts
Due: frontend-lint

fix: SMS verification Lambda event structure and auto-send code
  apps/api/lambdas/sms_verification/index.py
  apps/api/lambdas/sms_verification/test_sms_verification.py
  apps/web/src/app/features/user/components/profile/profile.component.ts
Due: black, ruff, mypy, bandit, frontend-lint, pytest-backend

fix: SMS verification schema mismatch and phone verify UI flow
  apps/api/lambdas/sms_verification/index.py
  apps/api/lambdas/sms_verification/test_sms_verification.py
  apps/web/src/app/core/services/user.service.ts
  apps/web/src/app/features/user/components/profile/profile.component.html
  apps/web/src/app/features/user/components/profile/profile.component.ts
Due: black, ruff, mypy, bandit, frontend-lint, pytest-backend

feat: add shared verification code input component
  .kiro/specs/orb-sdk/requirements.md
  apps/web/src/app/features/user/components/profile/profile.component.html
  apps/web/src/app/features/user/components/profile/profile.component.ts
  apps/web/src/app/shared/components/verification-code-input/verification-code-input.component.ts
Due: frontend-lint

fix: remove sns:Protocol condition from SNS SMS IAM policy
  infrastructure/cdk/stacks/lambda_stack.py
Due: none
