Repository com-oneredboot/orb-integration-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, bandit, frontend-lint, check-yaml, check-json, check-toml, pytest-backend

black:
  name: Format Python with black
  entry: pipenv run black --line-length=100
  language: system

ruff:
  name: Lint Python with ruff
  entry: pipenv run ruff check --fix --exit-non-zero-on-fix
  language: system

mypy:
  name: Type check with mypy
  entry: pipenv run mypy --ignore-missing-imports
  language: system

bandit:
  name: Security check with bandit
  entry: pipenv run bandit -f json --skip B101
  language: system

frontend-lint:
  name: Lint frontend with ESLint
  entry: bash -c 'cd apps/web && npm run lint'
  language: system
  pass_filenames: false

check-yaml:
  name: Check YAML syntax
  entry: python -c "import yaml, sys; yaml.safe_load(open(sys.argv[1], encoding='utf-8'))"
  language: system

check-json:
  name: Check JSON syntax
  entry: python -c "import json, sys; json.load(open(sys.argv[1], encoding='utf-8'))"
  language: system

check-toml:
  name: Check TOML syntax
  entry: python -c "import tomllib, sys; tomllib.load(open(sys.argv[1], 'rb'))"
  language: system

pytest-backend:
  name: Run backend tests
  entry: bash -c 'cd apps/api && pipenv run pytest tests/ --tb=short -q'
  language: system
  pass_filenames: false

fix: pin black to 26.1.0 and reformat files
  .pre-commit-config.yaml
  apps/api/Pipfile
  apps/api/core/testing/conftest.py
  apps/api/lambdas/contact_us/index.py
  apps/api/lambdas/pre_cognito_claims/index.py
Due: black, ruff, mypy, bandit, check-yaml, pytest-backend

fix: correct pytest test discovery paths
  .github/workflows/comprehensive-testing.yml
  .pre-commit-config.yaml
Due: check-yaml

fix: update moto imports to mock_aws for moto 5.x
  apps/api/core/testing/test_environment_manager.py
  apps/api/lambdas/sms_verification/test_sms_verification.py
Due: black, ruff, mypy, bandit, pytest-backend

fix: replace mock_dynamodb() with mock_aws() in test_environment_manager
  apps/api/core/testing/test_environment_manager.py
Due: black, ruff, mypy, bandit, pytest-backend

fix: add missing __init__.py files for package imports
  apps/api/__init__.py
  apps/api/core/__init__.py
Due: black, ruff, mypy, bandit, pytest-backend

fix: rename pytest_current_test_id to avoid invalid hook error
  apps/api/core/testing/conftest.py
Due: black, ruff, mypy, bandit, pytest-backend

fix: add missing test dependencies and fix import path
  apps/api/Pipfile
  apps/api/Pipfile.lock
  apps/api/core/testing/conftest.py
  apps/api/core/testing/test_environment_manager.py
  apps/api/lambdas/__init__.py
  apps/api/lambdas/sms_verification/__init__.py
  apps/api/lambdas/sms_verification/test_sms_verification.py
Due: black, ruff, mypy, bandit, pytest-backend

fix: resolve backend test failures and add fix-backend-tests spec
  .kiro/specs/fix-backend-tests/design.md
  .kiro/specs/fix-backend-tests/requirements.md
  .kiro/specs/fix-backend-tests/tasks.md
  apps/api/core/testing/organization_test_data_factory.py
  apps/api/core/testing/performance_testing_suite.py
  apps/api/core/testing/test_edge_case_suite.py
  apps/api/core/testing/test_environment_manager.py
  apps/api/core/testing/test_performance_suite.py
  apps/api/lambdas/check_email_exists/test_check_email_exists.py
  apps/api/lambdas/sms_verification/test_sms_verification.py
Due: black, ruff, mypy, bandit, pytest-backend

fix: apply black formatting and update pre-commit exclusions
  .kiro/steering/git-workflow.md
  .pre-commit-config.yaml
  apps/api/core/testing/performance_testing_suite.py
  apps/api/lambdas/sms_verification/test_sms_verification.py
Due: black, ruff, mypy, bandit, check-yaml, pytest-backend

fix: remove unused variable assignments in test_performance_suite.py
  apps/api/core/testing/test_performance_suite.py
Due: black, ruff, mypy, bandit, pytest-backend

precommit hook
  .pre-commit-config.yaml
Due: check-yaml

fix: resolve CI failures in performance, security, integration, and e2e tests
  .github/workflows/comprehensive-testing.yml
Due: check-yaml

fix: resolve remaining CI failures
  .github/workflows/comprehensive-testing.yml
  apps/api/Pipfile
  apps/api/Pipfile.lock
Due: check-yaml

fix: resolve E2E and performance test failures in CI
  .github/workflows/comprehensive-testing.yml
  apps/web/package.json
Due: check-yaml, check-json

refactor: remove incomplete test infrastructure, integrate tests into deploy workflows
  .github/workflows/comprehensive-testing.yml
  .github/workflows/deploy-website.yml
  .kiro/specs/ci-cleanup/design.md
  .kiro/specs/ci-cleanup/requirements.md
  .kiro/specs/ci-cleanup/tasks.md
  CHANGELOG.md
  apps/web/cypress.config.ts
  apps/web/cypress/e2e/error-recovery-scenarios.cy.ts
  apps/web/cypress/e2e/mfa-setup-verification.cy.ts
  apps/web/cypress/e2e/user-login-flow.cy.ts
  apps/web/cypress/e2e/user-registration-journey.cy.ts
  apps/web/cypress/fixtures/users.json
  apps/web/cypress/support/commands.ts
  apps/web/cypress/support/e2e.ts
  apps/web/integration-tests/cognito/cognito-auth-integration.spec.ts
  apps/web/integration-tests/config/test-config.ts
  apps/web/integration-tests/contracts/api-contract.spec.ts
  apps/web/integration-tests/graphql/graphql-integration.spec.ts
  apps/web/integration-tests/jest.config.js
  apps/web/integration-tests/setup.ts
  apps/web/integration-tests/sms/sms-verification-integration.spec.ts
  apps/web/integration-tests/utils/aws-test-setup.ts
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/performance-tests/README.md
  apps/web/performance-tests/artillery/auth-flow-load-test.yml
  apps/web/performance-tests/artillery/data/test-users.csv
  apps/web/performance-tests/artillery/processors/auth-processor.js
  apps/web/performance-tests/artillery/processors/stress-processor.js
  apps/web/performance-tests/artillery/stress-test.yml
  apps/web/performance-tests/ci/performance-ci.yml
  apps/web/performance-tests/lighthouse/lighthouse-config.js
  apps/web/performance-tests/lighthouse/mobile-config.js
  apps/web/performance-tests/memory/memory-leak-detector.js
  apps/web/performance-tests/scripts/baseline-metrics.js
  apps/web/performance-tests/scripts/mobile-performance-test.js
  apps/web/performance-tests/scripts/network-throttling-test.js
  apps/web/performance-tests/scripts/performance-test-runner.js
Due: frontend-lint, check-yaml, check-json

fix: add schema generation to deploy-infrastructure workflow
  .github/workflows/deploy-infrastructure.yml
  CHANGELOG.md
  infrastructure/Pipfile
  infrastructure/Pipfile.lock
Due: check-yaml

fix: remove lambda_stack reference from AppSync to eliminate CloudFormation exports
  infrastructure/cdk/app.py
  infrastructure/cdk/stacks/appsync_stack.py
Due: none

fix: temporarily remove lambda dependency from appsync to fix export issue
  infrastructure/cdk/app.py
Due: none

fix: restore lambda dependency for initial deployment
  infrastructure/cdk/app.py
Due: none

fix: remove lambda dependency from appsync to eliminate exports
  infrastructure/cdk/app.py
Due: none

fix: revert appsync changes to keep lambda export
  infrastructure/cdk/app.py
  infrastructure/cdk/stacks/appsync_stack.py
Due: none

fix: remove cross-stack reference from monitoring to appsync
  .kiro/steering/infrastructure.md
  infrastructure/cdk/app.py
  infrastructure/cdk/stacks/monitoring_stack.py
  infrastructure/cdk/tests/test_monitoring_stack.py
Due: none

fix: use path-based naming for audit log group
  infrastructure/cdk/stacks/bootstrap_stack.py
  infrastructure/cdk/stacks/monitoring_stack.py
  infrastructure/cdk/tests/test_monitoring_stack.py
Due: none

chore: file bug #75 for Lambda auth directive generation
  .github/ISSUES/README.md
  .github/ISSUES/orb-schema-generator-75.md
Due: none

docs: add pipenv sync guidance for CodeArtifact #75
  .kiro/steering/project-standards.md
Due: none

fix: remove api key auth from UsersQueryByEmail - requires Cognito auth only
  .github/ISSUES/README.md
  apps/api/graphql/schema.graphql
  schemas/tables/Users.yml
Due: check-yaml

fix: reorder email verification flow - call Cognito confirmSignUp before querying DynamoDB
  apps/web/src/app/core/services/user.service.ts
  apps/web/src/app/features/user/store/user.effects.ts
Due: frontend-lint

fix: remove invalid condition from AdminAddUserToGroup IAM policy
  infrastructure/cdk/stacks/cognito_stack.py
Due: none

fix: use CheckEmailExists for DynamoDB check instead of separate UsersQueryByEmail call
  apps/web/src/app/core/services/recovery.service.ts
Due: frontend-lint

fix: route CREATE_DYNAMO_RECORD to SIGNIN step - user must authenticate first
  apps/web/src/app/core/models/RecoveryModel.ts
Due: frontend-lint

fix: add SIGNIN step to form validators and required fields
  apps/web/src/app/features/user/components/auth-flow/auth-flow.component.ts
Due: frontend-lint

fix: show password field for SIGNIN step in auth-flow template
  apps/web/src/app/features/user/components/auth-flow/auth-flow.component.html
Due: frontend-lint

fix: sign in with Cognito first using email, then query DynamoDB user record
  apps/web/src/app/core/models/AuthModel.ts
  apps/web/src/app/core/services/user.service.ts
Due: frontend-lint

fix: handle MFA responses in signIn effect
  apps/web/src/app/features/user/store/user.effects.ts
Due: frontend-lint

fix: fetch user from DynamoDB after MFA verification
  apps/web/src/app/features/user/store/user.effects.ts
Due: frontend-lint

fix: preserve email in signIn reducer for MFA flow
  apps/web/src/app/features/user/store/user.reducer.ts
Due: frontend-lint

Path conditions:
  black: any of: ^apps/api/.*\.py$ and \.py$
  ruff: any of: ^apps/api/.*\.py$ and \.py$
  mypy: any of: ^apps/api/.*\.py$ and \.py$
  bandit: any of: ^apps/api/.*\.py$ and \.py$ and not (^apps/api/tests/.*\.py$)
  frontend-lint: any of: ^apps/web/.*\.(ts|html)$
  check-yaml: any of: \.(yaml|yml)$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  pytest-backend: any of: ^apps/api/.*\.py$
