Repository com-oneredboot/orb-integration-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, bandit, frontend-lint, check-yaml, check-json, check-toml, cdk-synth, pytest-backend

black:
  name: Format Python with black
  entry: pipenv run black --line-length=100
  language: system

ruff:
  name: Lint Python with ruff
  entry: pipenv run ruff check
  language: system

mypy:
  name: Type check with mypy
  entry: pipenv run mypy --ignore-missing-imports
  language: system

bandit:
  name: Security check with bandit
  entry: pipenv run bandit -f json --skip B101
  language: system

frontend-lint:
  name: Lint frontend with ESLint
  entry: bash -c 'cd apps/web && npm run lint'
  language: system
  pass_filenames: false

check-yaml:
  name: Check YAML syntax
  entry: python -c "import yaml, sys; yaml.safe_load(open(sys.argv[1], encoding='utf-8'))"
  language: system

check-json:
  name: Check JSON syntax
  entry: python -c "import json, sys; json.load(open(sys.argv[1], encoding='utf-8'))"
  language: system

check-toml:
  name: Check TOML syntax
  entry: python -c "import tomllib, sys; tomllib.load(open(sys.argv[1], 'rb'))"
  language: system

cdk-synth:
  name: CDK synth validation
  entry: bash -c 'cd infrastructure && pipenv run cdk synth --quiet'
  language: system
  pass_filenames: false

pytest-backend:
  name: Run backend tests
  entry: bash -c 'cd apps/api && pipenv run pytest lambdas/ core/testing/ --tb=short -q'
  language: system
  pass_filenames: false

fix: change card header button to solid red for better visibility
  apps/web/src/styles/components.scss
Due: none

fix: card header button uses transparent bg with white border to match header
  apps/web/src/styles/components.scss
Due: none

fix: change quick actions side nav background to red
  apps/web/src/styles/components.scss
Due: none

fix: change card header background to orb-black
  apps/web/src/styles/components.scss
Due: none

fix: change header badges to bold solid colors (green, yellow, red)
  apps/web/src/styles/components.scss
Due: none

feat: complete applications management feature with real GraphQL operations
  .kiro/specs/applications-management/design.md
  .kiro/specs/applications-management/requirements.md
  .kiro/specs/applications-management/tasks.md
  CHANGELOG.md
  apps/web/src/app/app.component.scss
  apps/web/src/app/core/services/application.service.property.spec.ts
  apps/web/src/app/core/services/application.service.spec.ts
  apps/web/src/app/core/services/application.service.ts
  apps/web/src/app/features/customers/applications/applications.component.html
  apps/web/src/app/features/customers/applications/applications.component.ts
  apps/web/src/app/features/customers/applications/applications.routes.ts
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.html
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.property.spec.ts
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.scss
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.spec.ts
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.ts
  apps/web/src/app/features/customers/applications/components/applications-list/applications-list.component.html
  apps/web/src/app/features/customers/applications/components/applications-list/applications-list.component.property.spec.ts
  apps/web/src/app/features/customers/applications/components/applications-list/applications-list.component.spec.ts
  apps/web/src/app/features/customers/applications/components/applications-list/applications-list.component.ts
  apps/web/src/app/features/customers/applications/store/applications.actions.ts
  apps/web/src/app/features/customers/applications/store/applications.effects.ts
  apps/web/src/app/features/customers/applications/store/applications.reducer.property.spec.ts
  apps/web/src/app/features/customers/applications/store/applications.reducer.ts
  apps/web/src/app/features/customers/applications/store/applications.selectors.property.spec.ts
  apps/web/src/app/features/customers/applications/store/applications.selectors.ts
  apps/web/src/app/features/customers/applications/store/applications.state.ts
  apps/web/src/app/features/customers/applications/store/applications.store.spec.ts
  apps/web/src/app/features/customers/organizations/organizations.component.html
  apps/web/src/app/layouts/platform-layout/platform-layout.component.scss
  apps/web/src/main.ts
  apps/web/src/styles/components.scss
  apps/web/src/styles/mixins.scss
Due: frontend-lint

docs: update issue tracking - mark #80 and #81 as resolved
  .github/ISSUES/README.md
Due: none

fix: use rocket icon for applications in quick action side nav
  apps/web/src/app/features/user/components/dashboard/dashboard-side-nav/dashboard-side-nav.component.ts
Due: frontend-lint

fix: use rocket icon for application CTA cards
  .kiro/specs/dashboard-cta-redesign/design.md
  apps/web/src/app/features/user/services/dashboard-cta.service.ts
Due: frontend-lint

feat: add Last Activity column to organizations list and update coding standards
  .kiro/steering/frontend-components.md
  apps/web/src/app/features/customers/organizations/components/organizations-list/organizations-list.component.html
  apps/web/src/app/features/customers/organizations/components/organizations-list/organizations-list.component.property.spec.ts
  apps/web/src/app/features/customers/organizations/components/organizations-list/organizations-list.component.spec.ts
  apps/web/src/app/features/customers/organizations/components/organizations-list/organizations-list.component.ts
  apps/web/src/app/features/customers/organizations/store/organizations.reducer.ts
  apps/web/src/app/features/customers/organizations/store/organizations.state.ts
Due: frontend-lint

feat: complete store-centric refactoring and add description field to Applications
  .kiro/specs/store-centric-refactoring/design.md
  .kiro/specs/store-centric-refactoring/requirements.md
  .kiro/specs/store-centric-refactoring/store-usage-audit.md
  .kiro/specs/store-centric-refactoring/tasks.md
  .kiro/steering/frontend-components.md
  apps/api/graphql/schema.graphql
  apps/api/models/ApplicationsModel.py
  apps/web/src/app/core/config/fontawesome-icons.ts
  apps/web/src/app/core/graphql/Applications.graphql.ts
  apps/web/src/app/core/models/ApplicationsModel.ts
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.html
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.property.spec.ts
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.spec.ts
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.ts
  apps/web/src/app/features/customers/applications/components/applications-list/applications-list.component.html
  apps/web/src/app/features/customers/applications/components/applications-list/applications-list.component.property.spec.ts
  apps/web/src/app/features/customers/applications/components/applications-list/applications-list.component.spec.ts
  apps/web/src/app/features/customers/applications/components/applications-list/applications-list.component.ts
  apps/web/src/app/features/customers/applications/store/applications.actions.ts
  apps/web/src/app/features/customers/applications/store/applications.effects.spec.ts
  apps/web/src/app/features/customers/applications/store/applications.effects.ts
  apps/web/src/app/features/customers/applications/store/applications.reducer.ts
  apps/web/src/app/features/customers/organizations/components/organization-detail-page/organization-detail-page.component.html
  apps/web/src/app/features/customers/organizations/components/organization-detail-page/organization-detail-page.component.property.spec.ts
  apps/web/src/app/features/customers/organizations/components/organization-detail-page/organization-detail-page.component.spec.ts
  apps/web/src/app/features/customers/organizations/components/organization-detail-page/organization-detail-page.component.ts
  apps/web/src/app/features/customers/organizations/store/organizations.actions.ts
  apps/web/src/app/features/customers/organizations/store/organizations.effects.ts
  apps/web/src/app/features/customers/organizations/store/organizations.reducer.ts
  schemas/tables/Applications.yml
Due: black, ruff, mypy, bandit, frontend-lint, check-yaml, pytest-backend

fix: update property tests to use reducer-based filtering pattern
  .kiro/steering/frontend-components.md
  apps/web/src/app/features/customers/applications/store/applications.actions.ts
  apps/web/src/app/features/customers/applications/store/applications.effects.ts
  apps/web/src/app/features/customers/applications/store/applications.reducer.ts
  apps/web/src/app/features/customers/applications/store/applications.selectors.property.spec.ts
  apps/web/src/app/features/customers/applications/store/applications.selectors.ts
  apps/web/src/app/features/customers/applications/store/applications.state.ts
  apps/web/src/app/features/customers/applications/store/applications.store.spec.ts
Due: frontend-lint

fix: include description field in application create/update service methods
  apps/web/src/app/core/services/application.service.ts
Due: frontend-lint

fix: correct CSS selector for clickable table rows
  apps/web/src/styles/components.scss
Due: none

feat: sync organization application counts when applications change
  apps/web/src/app/features/customers/applications/store/applications.effects.ts
  apps/web/src/app/features/customers/organizations/store/organizations.actions.ts
  apps/web/src/app/features/customers/organizations/store/organizations.reducer.ts
Due: frontend-lint

feat: sync organization applicationCount with store-first pattern
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.spec.ts
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.ts
  apps/web/src/app/features/customers/applications/store/applications.actions.ts
  apps/web/src/app/features/customers/applications/store/applications.effects.spec.ts
  apps/web/src/app/features/customers/applications/store/applications.effects.ts
  apps/web/src/app/features/customers/applications/store/applications.store.spec.ts
  apps/web/src/app/features/customers/organizations/store/organizations.actions.ts
  apps/web/src/app/features/customers/organizations/store/organizations.reducer.ts
Due: frontend-lint

fix: use mergeMap with from() to emit multiple update actions
  apps/web/src/app/features/customers/applications/store/applications.effects.ts
Due: frontend-lint

fix: sync organization applicationCount to database on detail page
  apps/web/src/app/core/services/organization.service.ts
  apps/web/src/app/features/customers/applications/store/applications.effects.ts
  apps/web/src/app/features/customers/organizations/store/organizations.reducer.ts
Due: frontend-lint

feat: complete Phase 1 of Application Access Management
  .kiro/specs/application-access-management/tasks.md
  apps/api/graphql/schema.graphql
  apps/api/lambdas/application_group_roles/__init__.py
  apps/api/lambdas/application_group_roles/index.py
  apps/api/lambdas/application_group_users/index.py
  apps/api/lambdas/application_groups/index.py
  apps/api/lambdas/application_user_roles/__init__.py
  apps/api/lambdas/application_user_roles/index.py
  apps/api/models/ApplicationsModel.py
  apps/api/tests/property/test_application_count_aggregation_property.py
  apps/api/tests/property/test_application_group_role_environment_property.py
  apps/web/src/app/core/graphql/Applications.graphql.ts
  apps/web/src/app/core/models/ApplicationsModel.ts
  schemas/tables/Applications.yml
Due: black, ruff, mypy, bandit, frontend-lint, check-yaml, pytest-backend

feat: complete Task 16 - NgRx store for groups with GroupService and unit tests
  .kiro/specs/application-access-management/tasks.md
  apps/web/src/app/core/services/group.service.ts
  apps/web/src/app/features/customers/applications/store/groups/groups.actions.ts
  apps/web/src/app/features/customers/applications/store/groups/groups.effects.ts
  apps/web/src/app/features/customers/applications/store/groups/groups.reducer.spec.ts
  apps/web/src/app/features/customers/applications/store/groups/groups.reducer.ts
  apps/web/src/app/features/customers/applications/store/groups/groups.selectors.spec.ts
  apps/web/src/app/features/customers/applications/store/groups/groups.selectors.ts
  apps/web/src/app/features/customers/applications/store/groups/groups.state.ts
  apps/web/src/app/features/customers/applications/store/groups/index.ts
Due: frontend-lint

feat: add GroupsListComponent and GroupDetailComponent for Phase 4
  .kiro/specs/application-access-management/tasks.md
  apps/web/src/app/features/customers/applications/components/group-detail/group-detail.component.html
  apps/web/src/app/features/customers/applications/components/group-detail/group-detail.component.scss
  apps/web/src/app/features/customers/applications/components/group-detail/group-detail.component.ts
  apps/web/src/app/features/customers/applications/components/groups-list/groups-list.component.html
  apps/web/src/app/features/customers/applications/components/groups-list/groups-list.component.scss
  apps/web/src/app/features/customers/applications/components/groups-list/groups-list.component.ts
Due: frontend-lint

feat: add GroupRoleAssignmentComponent for Task 17.3 - Phase 4
  .kiro/specs/application-access-management/tasks.md
  apps/web/src/app/core/services/group.service.ts
  apps/web/src/app/features/customers/applications/components/group-detail/group-detail.component.html
  apps/web/src/app/features/customers/applications/components/group-detail/group-detail.component.ts
  apps/web/src/app/features/customers/applications/components/group-role-assignment/group-role-assignment.component.html
  apps/web/src/app/features/customers/applications/components/group-role-assignment/group-role-assignment.component.scss
  apps/web/src/app/features/customers/applications/components/group-role-assignment/group-role-assignment.component.ts
  apps/web/src/app/features/customers/applications/store/groups/groups.actions.ts
  apps/web/src/app/features/customers/applications/store/groups/groups.effects.ts
  apps/web/src/app/features/customers/applications/store/groups/groups.reducer.ts
  apps/web/src/app/features/customers/applications/store/groups/groups.selectors.ts
  apps/web/src/app/features/customers/applications/store/groups/groups.state.ts
Due: frontend-lint

feat: add NgRx store for API keys - Task 18.1 and 18.2
  .kiro/specs/application-access-management/tasks.md
  apps/web/src/app/core/services/api-key.service.ts
  apps/web/src/app/features/customers/applications/store/api-keys/api-keys.actions.ts
  apps/web/src/app/features/customers/applications/store/api-keys/api-keys.effects.ts
  apps/web/src/app/features/customers/applications/store/api-keys/api-keys.reducer.ts
  apps/web/src/app/features/customers/applications/store/api-keys/api-keys.selectors.ts
  apps/web/src/app/features/customers/applications/store/api-keys/api-keys.state.ts
  apps/web/src/app/features/customers/applications/store/api-keys/index.ts
Due: frontend-lint

test(api-keys): add unit tests for API key UI components
  .kiro/specs/application-access-management/tasks.md
  apps/web/src/app/core/services/group.service.ts
  apps/web/src/app/features/customers/applications/components/api-key-generate-dialog/api-key-generate-dialog.component.html
  apps/web/src/app/features/customers/applications/components/api-key-generate-dialog/api-key-generate-dialog.component.scss
  apps/web/src/app/features/customers/applications/components/api-key-generate-dialog/api-key-generate-dialog.component.spec.ts
  apps/web/src/app/features/customers/applications/components/api-key-generate-dialog/api-key-generate-dialog.component.ts
  apps/web/src/app/features/customers/applications/components/api-key-revoke-dialog/api-key-revoke-dialog.component.html
  apps/web/src/app/features/customers/applications/components/api-key-revoke-dialog/api-key-revoke-dialog.component.scss
  apps/web/src/app/features/customers/applications/components/api-key-revoke-dialog/api-key-revoke-dialog.component.spec.ts
  apps/web/src/app/features/customers/applications/components/api-key-revoke-dialog/api-key-revoke-dialog.component.ts
  apps/web/src/app/features/customers/applications/components/api-key-rotate-dialog/api-key-rotate-dialog.component.html
  apps/web/src/app/features/customers/applications/components/api-key-rotate-dialog/api-key-rotate-dialog.component.scss
  apps/web/src/app/features/customers/applications/components/api-key-rotate-dialog/api-key-rotate-dialog.component.spec.ts
  apps/web/src/app/features/customers/applications/components/api-key-rotate-dialog/api-key-rotate-dialog.component.ts
  apps/web/src/app/features/customers/applications/components/api-keys-list/api-keys-list.component.html
  apps/web/src/app/features/customers/applications/components/api-keys-list/api-keys-list.component.scss
  apps/web/src/app/features/customers/applications/components/api-keys-list/api-keys-list.component.spec.ts
  apps/web/src/app/features/customers/applications/components/api-keys-list/api-keys-list.component.ts
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.html
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.scss
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.ts
  apps/web/src/app/features/customers/applications/components/applications-list/applications-list.component.html
  apps/web/src/app/features/customers/applications/components/applications-list/applications-list.component.property.spec.ts
  apps/web/src/app/features/customers/applications/components/applications-list/applications-list.component.spec.ts
  apps/web/src/app/features/customers/applications/components/group-detail/group-detail.component.html
  apps/web/src/app/features/customers/applications/components/group-role-assignment/group-role-assignment.component.html
  apps/web/src/app/features/customers/applications/components/group-role-assignment/group-role-assignment.component.ts
  apps/web/src/app/features/customers/applications/store/api-keys/api-keys.reducer.spec.ts
  apps/web/src/app/features/customers/applications/store/api-keys/api-keys.selectors.spec.ts
  apps/web/src/app/features/customers/applications/store/applications.reducer.ts
  apps/web/src/app/features/customers/applications/store/applications.selectors.property.spec.ts
  apps/web/src/app/features/customers/applications/store/applications.state.ts
  apps/web/src/app/features/customers/applications/store/applications.store.spec.ts
  apps/web/src/app/features/customers/applications/store/groups/groups.reducer.spec.ts
  apps/web/src/app/shared/components/ui/status-badge.component.ts
  apps/web/src/app/shared/services/status-display.service.ts
Due: frontend-lint

feat: update SDK architecture for dual-AppSync with Lambda authorizer #83
  .github/ISSUES/README.md
  .github/ISSUES/orb-schema-generator-82.md
  .github/ISSUES/orb-schema-generator-83.md
  .kiro/specs/application-access-management/design.md
  .kiro/specs/application-access-management/tasks.md
Due: none

feat: add organization-applications-tab spec
  .kiro/specs/organization-applications-tab/design.md
  .kiro/specs/organization-applications-tab/requirements.md
  .kiro/specs/organization-applications-tab/tasks.md
Due: none

feat: add Applications tab to Organization Detail component
  .kiro/specs/organization-applications-tab/tasks.md
  apps/web/src/app/features/customers/organizations/components/organization-detail/organization-detail.component.html
  apps/web/src/app/features/customers/organizations/components/organization-detail/organization-detail.component.scss
  apps/web/src/app/features/customers/organizations/components/organization-detail/organization-detail.component.ts
  apps/web/src/app/features/customers/organizations/store/organizations.actions.ts
  apps/web/src/app/features/customers/organizations/store/organizations.effects.ts
  apps/web/src/app/features/customers/organizations/store/organizations.reducer.ts
  apps/web/src/app/features/customers/organizations/store/organizations.selectors.ts
  apps/web/src/app/features/customers/organizations/store/organizations.state.ts
Due: frontend-lint

fix: resolve build warnings
  .kiro/specs/organization-applications-tab/tasks.md
  apps/web/angular.json
  apps/web/src/app/features/customers/applications/applications.component.scss
  apps/web/src/app/features/customers/organizations/organizations.component.scss
Due: check-json

feat: add unit and property tests for organization applications tab
  .kiro/specs/organization-applications-tab/tasks.md
  apps/web/src/app/features/customers/organizations/store/organizations.selectors.property.spec.ts
  apps/web/src/app/features/customers/organizations/store/organizations.selectors.spec.ts
Due: frontend-lint

feat: add Applications tab to organization detail page
  apps/web/src/app/features/customers/organizations/components/organization-detail-page/organization-detail-page.component.html
  apps/web/src/app/features/customers/organizations/components/organization-detail-page/organization-detail-page.component.property.spec.ts
  apps/web/src/app/features/customers/organizations/components/organization-detail-page/organization-detail-page.component.scss
  apps/web/src/app/features/customers/organizations/components/organization-detail-page/organization-detail-page.component.spec.ts
  apps/web/src/app/features/customers/organizations/components/organization-detail-page/organization-detail-page.component.ts
Due: frontend-lint

docs: mark organization-applications-tab spec as complete
  .kiro/specs/organization-applications-tab/tasks.md
Due: none

fix: use orb-card-btn style for Create Application button
  apps/web/src/app/features/customers/organizations/components/organization-detail-page/organization-detail-page.component.html
Due: frontend-lint

fix: add orb-btn--danger style and improve danger zone layout
  apps/web/src/app/features/customers/organizations/components/organization-detail-page/organization-detail-page.component.scss
  apps/web/src/styles/components.scss
Due: none

fix: remove red focus outline from tab navigation
  .kiro/specs/application-security-tab/design.md
  .kiro/specs/application-security-tab/requirements.md
  .kiro/specs/application-security-tab/tasks.md
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.html
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.scss
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.ts
  apps/web/src/app/features/customers/organizations/components/organization-detail-page/organization-detail-page.component.scss
  apps/web/src/styles/components.scss
Due: frontend-lint

feat: add API key validation before application activation
  .kiro/specs/api-key-configuration-flow/design.md
  .kiro/specs/api-key-configuration-flow/requirements.md
  .kiro/specs/api-key-configuration-flow/tasks.md
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.html
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.scss
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.ts
  apps/web/src/app/features/customers/applications/utils/api-key-validation.spec.ts
  apps/web/src/app/features/customers/applications/utils/api-key-validation.ts
Due: frontend-lint

feat: add dashboard CTA for applications with missing API keys
  .kiro/specs/api-key-configuration-flow/tasks.md
  apps/web/src/app/features/user/services/dashboard-cta.service.spec.ts
  apps/web/src/app/features/user/services/dashboard-cta.service.ts
Due: frontend-lint

Path conditions:
  black: any of: ^apps/api/.*\.py$ and \.py$
  ruff: any of: ^apps/api/.*\.py$ and \.py$
  mypy: any of: ^apps/api/.*\.py$ and \.py$ and not (^apps/api/(lambdas/|core/testing/).*\.py$)
  bandit: any of: ^apps/api/.*\.py$ and \.py$ and not (^apps/api/(tests/|.*test.*\.py$|core/testing/))
  frontend-lint: any of: ^apps/web/.*\.(ts|html)$
  check-yaml: any of: \.(yaml|yml)$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  cdk-synth: any of: ^infrastructure/.*\.py$
  pytest-backend: any of: ^apps/api/.*\.py$
