Repository com-oneredboot/orb-integration-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, black, ruff, mypy, bandit, check-yaml, check-json, check-toml, pytest-check

frontend-lint:
  name: Lint frontend with ESLint
  description: Lint Angular/TypeScript code
  entry: bash -c 'cd apps/web && npm run lint'
  language: system
  pass_filenames: false

black:
  name: Format code with black
  description: Auto-format Python code
  entry: pipenv run black --line-length=100
  language: system
  pass_filenames: true

ruff:
  name: Lint with ruff
  description: Fast Python linter
  entry: pipenv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: true

mypy:
  name: Type check with mypy
  description: Static type checking
  entry: pipenv run mypy --ignore-missing-imports
  language: system
  pass_filenames: true

bandit:
  name: Security check with bandit
  description: Find common security issues
  entry: pipenv run bandit -f json --skip B101
  language: system
  pass_filenames: true

check-yaml:
  name: Check YAML syntax
  description: Validate YAML files
  entry: python -c "import yaml, sys; yaml.safe_load(open(sys.argv[1], encoding='utf-8'))"
  language: system
  pass_filenames: true

check-json:
  name: Check JSON syntax
  description: Validate JSON files
  entry: python -c "import json, sys; json.load(open(sys.argv[1], encoding='utf-8'))"
  language: system
  pass_filenames: true

check-toml:
  name: Check TOML syntax
  description: Validate TOML files
  entry: python -c "import tomllib, sys; tomllib.load(open(sys.argv[1], 'rb'))"
  language: system
  pass_filenames: true

pytest-check:
  name: Run backend tests
  description: Run Python tests before commit
  entry: pipenv run pytest apps/api/tests/ --tb=short -q
  language: system
  pass_filenames: false

fix: regenerate TypeScript models with orb-schema-generator v0.13.6 #59
  apps/web/src/app/core/enums/ApplicationRoleStatusEnum.ts
  apps/web/src/app/core/enums/ApplicationStatusEnum.ts
  apps/web/src/app/core/enums/ApplicationUserStatusEnum.ts
  apps/web/src/app/core/enums/ErrorRegistryEnum.ts
  apps/web/src/app/core/enums/LegalBasisEnum.ts
  apps/web/src/app/core/enums/NotificationStatusEnum.ts
  apps/web/src/app/core/enums/NotificationTypeEnum.ts
  apps/web/src/app/core/enums/OrganizationStatusEnum.ts
  apps/web/src/app/core/enums/OrganizationUserRoleEnum.ts
  apps/web/src/app/core/enums/OrganizationUserStatusEnum.ts
  apps/web/src/app/core/enums/OwnershipTransferStatusEnum.ts
  apps/web/src/app/core/enums/PrivacyRequestStatusEnum.ts
  apps/web/src/app/core/enums/PrivacyRequestTypeEnum.ts
  apps/web/src/app/core/enums/RoleStatusEnum.ts
  apps/web/src/app/core/enums/RoleTypeEnum.ts
  apps/web/src/app/core/enums/SchemaTypeEnum.ts
  apps/web/src/app/core/enums/UserGroupEnum.ts
  apps/web/src/app/core/enums/UserStatusEnum.ts
  apps/web/src/app/core/models/ApplicationRolesModel.ts
  apps/web/src/app/core/models/ApplicationUsersModel.ts
  apps/web/src/app/core/models/ApplicationsModel.ts
  apps/web/src/app/core/models/AuthErrorModel.ts
  apps/web/src/app/core/models/AuthModel.ts
  apps/web/src/app/core/models/MfaSetupDetailsModel.ts
  apps/web/src/app/core/models/NotificationsModel.ts
  apps/web/src/app/core/models/OrganizationUsersModel.ts
  apps/web/src/app/core/models/OrganizationsModel.ts
  apps/web/src/app/core/models/OwnershipTransferRequestsModel.ts
  apps/web/src/app/core/models/PrivacyRequestsModel.ts
  apps/web/src/app/core/models/RolesModel.ts
  apps/web/src/app/core/models/SmsRateLimitModel.ts
  apps/web/src/app/core/models/SmsVerificationModel.ts
  apps/web/src/app/core/models/UsersModel.ts
Due: frontend-lint

docs: update tasks.md to reflect issue #59 resolution
  .kiro/specs/fix-frontend-eslint-errors/tasks.md
Due: none

fix: resolve all ESLint errors and warnings in frontend
  .kiro/specs/fix-frontend-eslint-errors/requirements.md
  .kiro/specs/fix-frontend-eslint-errors/tasks.md
  .kiro/steering/project-standards.md
  apps/web/eslint.config.js
  apps/web/src/app/core/services/api.service.ts
  apps/web/src/app/core/services/auth/auth-analytics.service.ts
  apps/web/src/app/core/services/auth/auth-performance.service.ts
  apps/web/src/app/core/services/cognito.service.ts
  apps/web/src/app/core/services/error-handler.service.spec.ts
  apps/web/src/app/core/services/error-handler.service.ts
  apps/web/src/app/core/services/organization.service.ts
  apps/web/src/app/core/services/secure-id-generation.service.spec.ts
  apps/web/src/app/core/services/secure-id-generation.service.ts
  apps/web/src/app/core/services/user.service.ts
  apps/web/src/app/core/testing/auth-test-data.factory.ts
  apps/web/src/app/core/testing/organization-test-data.factory.ts
  apps/web/src/app/core/testing/security-test-utils.ts
  apps/web/src/app/core/testing/types.ts
  apps/web/src/app/features/customers/applications/components/application-detail/application-detail.component.html
  apps/web/src/app/features/customers/applications/components/application-detail/application-detail.component.ts
  apps/web/src/app/features/customers/applications/components/applications-list/applications-list.component.html
  apps/web/src/app/features/customers/organizations/components/organization-detail/organization-detail.component.html
  apps/web/src/app/features/customers/organizations/components/organizations-list/organizations-list.component.html
  apps/web/src/app/features/customers/organizations/components/organizations-list/organizations-list.component.ts
  apps/web/src/app/features/user/components/auth-flow/auth-flow.component.ts
  apps/web/src/app/features/user/components/auth-flow/components/login/login.component.ts
  apps/web/src/app/features/user/components/auth-flow/components/password/password.component.ts
  apps/web/src/app/features/user/components/auth-flow/containers/auth-container.component.ts
  apps/web/src/app/features/user/components/dashboard/dashboard.component.html
  apps/web/src/app/features/user/components/dashboard/dashboard.component.ts
  apps/web/src/app/features/user/components/profile/profile.component.spec.ts
  apps/web/src/app/features/user/components/profile/profile.component.ts
  apps/web/src/app/features/user/components/this-is-not-the-page/this-is-not-the-page.component.ts
  apps/web/src/app/features/user/services/auth-analytics.service.ts
  apps/web/src/app/features/user/services/auth-performance.service.ts
  apps/web/src/app/features/user/store/user.effects.ts
  apps/web/src/app/layouts/platform-layout/platform-layout.component.html
  apps/web/src/app/layouts/user-layout/user-layout.component.html
  apps/web/src/app/shared/components/auth/auth-input-field.component.ts
Due: frontend-lint

feat: file enhancement request for Lambda type GraphQL generation #63
  .github/ISSUES/README.md
  .github/ISSUES/orb-schema-generator-63.md
Due: none

security: resolve all 30 Dependabot vulnerabilities
  CHANGELOG.md
  apps/web/package-lock.json
  apps/web/package.json
Due: check-json

chore: mark security-vulnerabilities spec complete
  .kiro/specs/security-vulnerabilities/tasks.md
Due: none

chore: open orb-infrastructure#15 for Cognito SMS permission issue
  .github/ISSUES/README.md
  .github/ISSUES/orb-infrastructure-cognito-sns.md
Due: none

fix: Cognito SMS role requires Resource: * for direct SMS publishing #15
  infrastructure/cdk/stacks/cognito_stack.py
  infrastructure/cdk/tests/test_iam_policy_scoping.py
Due: none

chore: mark orb-infrastructure#15 as resolved
  .github/ISSUES/README.md
Due: none

default updates
  .github/workflows/deploy-infrastructure.yml
  .github/workflows/deploy-lambda-layers.yml
  .github/workflows/deploy-website.yml
Due: check-yaml

fix: decouple lambda-layers from main CDK deployment
  .github/workflows/deploy-infrastructure.yml
  .github/workflows/deploy-lambda-layers.yml
  .kiro/steering/infrastructure.md
  infrastructure/cdk/app.py
  infrastructure/cdk/app_lambda_layers.py
  infrastructure/cdk/stacks/lambda_stack.py
  infrastructure/cdk/tests/test_appsync_stack.py
  infrastructure/cdk/tests/test_iam_policy_scoping.py
  infrastructure/cdk/tests/test_lambda_stack.py
  infrastructure/cdk/tests/test_monitoring_stack.py
Due: check-yaml

chore: open orb-templates#36 for no-CloudFormation-outputs rule
  .github/ISSUES/README.md
  .github/ISSUES/orb-templates-no-cfn-outputs.md
Due: none

refactor: align SSM parameter naming with orb-schema-generator conventions
  .github/ISSUES/README.md
  .github/ISSUES/orb-schema-generator-docs-matrix.md
  .github/ISSUES/orb-schema-generator-pitr.md
  .github/ISSUES/orb-schema-generator-ssm-params.md
  .kiro/specs/cdk-refactoring/design.md
  .kiro/specs/cdk-refactoring/requirements.md
  .kiro/specs/cdk-refactoring/tasks.md
  .kiro/steering/infrastructure.md
  CHANGELOG.md
  infrastructure/cdk/README.md
  infrastructure/cdk/config.py
  infrastructure/cdk/stacks/appsync_stack.py
  infrastructure/cdk/stacks/bootstrap_stack.py
  infrastructure/cdk/stacks/cognito_stack.py
  infrastructure/cdk/stacks/dynamodb_stack.py
  infrastructure/cdk/stacks/frontend_stack.py
  infrastructure/cdk/stacks/lambda_layers_stack.py
  infrastructure/cdk/stacks/lambda_stack.py
  infrastructure/cdk/stacks/monitoring_stack.py
  infrastructure/cdk/tests/test_appsync_stack.py
  infrastructure/cdk/tests/test_bootstrap_stack.py
  infrastructure/cdk/tests/test_cognito_stack.py
  infrastructure/cdk/tests/test_config.py
  infrastructure/cdk/tests/test_dynamodb_stack.py
  infrastructure/cdk/tests/test_frontend_stack.py
  infrastructure/cdk/tests/test_iam_policy_scoping.py
  infrastructure/cdk/tests/test_lambda_layers_stack.py
  infrastructure/cdk/tests/test_lambda_stack.py
  infrastructure/cdk/tests/test_monitoring_stack.py
Due: none

fix: update frontend scripts to use path-based SSM parameter names
  .kiro/steering/project-standards.md
  apps/web/scripts/secrets-retrieval.js
  apps/web/scripts/setup-dev-env.js
Due: none

fix: update frontend scripts and fix TypeScript errors
  apps/web/package-lock.json
  apps/web/scripts/secrets-retrieval.js
  apps/web/scripts/setup-dev-env.js
  apps/web/src/app/features/user/store/user.effects.ts
Due: frontend-lint, check-json

fix: resolve TypeScript errors in frontend services and effects
  apps/web/src/app/core/services/organization.service.ts
  apps/web/src/app/features/customers/organizations/store/organizations.effects.ts
  apps/web/src/app/features/user/store/user.effects.ts
Due: frontend-lint

feat: add ngrok support for local testing with external access
  .kiro/steering/project-standards.md
  apps/web/package.json
  apps/web/scripts/start-ngrok.js
Due: check-json

fix: add ngrok domains to Angular dev server allowedHosts
  apps/web/angular.json
Due: check-json

fix: correct logo path and rename misspelled asset file
  apps/web/src/app/features/user/components/auth-flow/auth-flow.component.html
  apps/web/src/assets/oneredboot-logo.jpg
Due: frontend-lint

fix: standardize logo to orb-logo.jpg across all components
  apps/web/src/app/features/customers/applications/applications.component.html
  apps/web/src/app/features/customers/organizations/organizations.component.html
  apps/web/src/app/features/platform/platform.component.html
  apps/web/src/app/features/user/components/auth-flow/auth-flow.component.html
  apps/web/src/app/features/user/components/dashboard/dashboard.component.html
  apps/web/src/app/features/user/components/profile/profile.component.html
  apps/web/src/app/features/user/components/this-is-not-the-page/this-is-not-the-page.component.html
  apps/web/src/assets/orb-logo.jpg
Due: frontend-lint

chore: add pitr_enabled: false to all table schemas
  schemas/tables/ApplicationRoles.yml
  schemas/tables/ApplicationUsers.yml
  schemas/tables/Applications.yml
  schemas/tables/Notifications.yml
  schemas/tables/OrganizationUsers.yml
  schemas/tables/Organizations.yml
  schemas/tables/OwnershipTransferRequests.yml
  schemas/tables/PrivacyRequests.yml
  schemas/tables/Roles.yml
  schemas/tables/SmsRateLimit.yml
  schemas/tables/Users.yml
Due: check-yaml

chore: upgrade orb-schema-generator to 0.16.0, add test deps
  Pipfile
  apps/api/Pipfile
  apps/api/Pipfile.lock
Due: none

feat: add CheckEmailExists Lambda to CDK infrastructure #67, #68
  infrastructure/cdk/stacks/lambda_stack.py
  infrastructure/cdk/tests/test_lambda_stack.py
Due: none

fix: use lazy DynamoDB initialization for moto compatibility
  apps/api/lambdas/check_email_exists/index.py
  apps/api/lambdas/check_email_exists/test_check_email_exists.py
Due: black, ruff, mypy, bandit, pytest-check

docs: update issue tracking and task status
  .github/ISSUES/README.md
  .kiro/specs/check-email-exists/tasks.md
Due: none

fix: upgrade to orb-schema-generator v0.16.1, closes #67
  .github/ISSUES/README.md
  Pipfile
  apps/api/graphql/schema.graphql
Due: none

fix: correct import path for generated AppSyncApi construct
  infrastructure/cdk/stacks/appsync_stack.py
Due: none

fix: use pipenv sync instead of install in CI workflows
  .github/ISSUES/README.md
  .github/ISSUES/orb-templates-pipenv-codeartifact-guidance.md
  .github/workflows/comprehensive-testing.yml
  .kiro/steering/project-standards.md
Due: check-yaml

fix: setup pre-commit hooks and fix Python formatting
  .kiro/steering/project-standards.md
  .pre-commit-config.yaml
  apps/api/enums/__init__.py
  apps/api/enums/application_role_status_enum.py
  apps/api/enums/application_status_enum.py
  apps/api/enums/application_user_status_enum.py
  apps/api/enums/error_registry_enum.py
  apps/api/enums/legal_basis_enum.py
  apps/api/enums/notification_status_enum.py
  apps/api/enums/notification_type_enum.py
  apps/api/enums/organization_status_enum.py
  apps/api/enums/organization_user_role_enum.py
  apps/api/enums/organization_user_status_enum.py
  apps/api/enums/ownership_transfer_status_enum.py
  apps/api/enums/privacy_request_status_enum.py
  apps/api/enums/privacy_request_type_enum.py
  apps/api/enums/role_status_enum.py
  apps/api/enums/role_type_enum.py
  apps/api/enums/schema_type_enum.py
  apps/api/enums/user_group_enum.py
  apps/api/enums/user_status_enum.py
  apps/api/lambdas/check_email_exists/index.py
  apps/api/models/ApplicationRolesModel.py
  apps/api/models/ApplicationUsersModel.py
  apps/api/models/ApplicationsModel.py
  apps/api/models/AuthErrorModel.py
  apps/api/models/AuthModel.py
  apps/api/models/CheckEmailExistsModel.py
  apps/api/models/MfaSetupDetailsModel.py
  apps/api/models/NotificationsModel.py
  apps/api/models/OrganizationUsersModel.py
  apps/api/models/OrganizationsModel.py
  apps/api/models/OwnershipTransferRequestsModel.py
  apps/api/models/PrivacyRequestsModel.py
  apps/api/models/RolesModel.py
  apps/api/models/SmsRateLimitModel.py
  apps/api/models/SmsVerificationModel.py
  apps/api/models/UsersModel.py
  apps/api/models/__init__.py
Due: black, ruff, mypy, bandit, check-yaml, pytest-check

fix: add pytest-cov and remove unused orb-schema-generator from apps/api
  apps/api/Pipfile
  apps/api/Pipfile.lock
Due: none

Path conditions:
  frontend-lint: any of: ^apps/web/.*\.(ts|html)$
  black: any of: ^apps/api/.*\.py$
  ruff: any of: ^apps/api/.*\.py$
  mypy: any of: ^apps/api/.*\.py$
  bandit: any of: ^apps/api/.*\.py$, but not: ^apps/api/tests/.*\.py$
  check-yaml: any of: \.ya?ml$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  pytest-check: any of: ^apps/api/.*\.py$
