Repository com-oneredboot/orb-integration-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, bandit, black-infra, ruff-infra, mypy-infra, frontend-lint, check-yaml, check-json, check-toml, cdk-synth, cdk-tests, pytest-backend, frontend-tests

black:
  name: Format Python with black
  entry: pipenv run black --line-length=100
  language: system

ruff:
  name: Lint Python with ruff
  entry: pipenv run ruff check
  language: system

mypy:
  name: Type check with mypy
  entry: pipenv run mypy --ignore-missing-imports
  language: system

bandit:
  name: Security check with bandit
  entry: pipenv run bandit -f json --skip B101
  language: system

black-infra:
  name: Format infrastructure Python with black
  entry: bash -c 'cd infrastructure && pipenv run black --line-length=100 "${@#infrastructure/}"' --
  language: system

ruff-infra:
  name: Lint infrastructure Python with ruff
  entry: bash -c 'cd infrastructure && pipenv run ruff check --ignore E402 "${@#infrastructure/}"' --
  language: system

mypy-infra:
  name: Type check infrastructure with mypy
  entry: bash -c 'cd infrastructure && pipenv run mypy --ignore-missing-imports "${@#infrastructure/}"' --
  language: system

frontend-lint:
  name: Lint frontend with ESLint
  entry: bash -c 'cd apps/web && npm run lint'
  language: system
  pass_filenames: false

check-yaml:
  name: Check YAML syntax
  entry: python -c "import yaml, sys; yaml.safe_load(open(sys.argv[1], encoding='utf-8'))"
  language: system

check-json:
  name: Check JSON syntax
  entry: python -c "import json, sys; json.load(open(sys.argv[1], encoding='utf-8'))"
  language: system

check-toml:
  name: Check TOML syntax
  entry: python -c "import tomllib, sys; tomllib.load(open(sys.argv[1], 'rb'))"
  language: system

cdk-synth:
  name: CDK synth validation
  entry: bash -c 'cd infrastructure && pipenv run cdk synth --quiet'
  language: system
  pass_filenames: false

cdk-tests:
  name: Run CDK infrastructure tests
  entry: bash -c 'cd infrastructure && PIPENV_IGNORE_VIRTUALENVS=1 pipenv run pytest cdk/tests/ --tb=short -q'
  language: system
  pass_filenames: false

pytest-backend:
  name: Run backend tests
  entry: bash -c 'cd apps/api && pipenv run pytest lambdas/ core/testing/ --tb=short -q'
  language: system
  pass_filenames: false

frontend-tests:
  name: Run frontend tests
  entry: bash -c 'cd apps/web && npm test -- --no-watch --browsers=ChromeHeadless'
  language: system
  pass_filenames: false

feat: complete Application Users Management implementation
  .kiro/specs/application-users-management/tasks.md
  CHANGELOG.md
  apps/api/lambdas/get_application_users/index.py
  apps/api/lambdas/get_application_users/test_get_application_users.py
  apps/api/lambdas/get_application_users/test_get_application_users_property.py
  apps/api/lambdas/get_application_users/test_integration.py
  apps/api/pyproject.toml
  apps/api/tests/integration/test_environment_config_integration.py
  apps/api/tests/property/test_dual_key_system_property.py
  apps/api/tests/property/test_no_information_leakage_property.py
  apps/api/tests/property/test_origin_validation_property.py
  apps/api/tests/property/test_webhook_signature_property.py
  apps/web/package.json
  apps/web/src/app/core/services/users.service.ts
  apps/web/src/app/features/customers/users/components/users-list/users-list.component.html
  apps/web/src/app/features/customers/users/components/users-list/users-list.component.property.spec.ts
  apps/web/src/app/features/customers/users/components/users-list/users-list.component.spec.ts
  apps/web/src/app/features/customers/users/components/users-list/users-list.component.ts
  apps/web/src/app/features/customers/users/components/users-list/users-list.pii-exclusion.property.spec.ts
  apps/web/src/app/features/customers/users/store/users.selectors.spec.ts
  apps/web/src/app/features/customers/users/users.routes.spec.ts
  docs/api.md
  docs/schema.md
  docs/user-management-views.md
Due: black, ruff, mypy, bandit, frontend-lint, check-json, check-toml, pytest-backend, frontend-tests

fix: update api_stack imports for v3.2.7 generated construct paths #133
  infrastructure/cdk/stacks/api_stack.py
Due: black-infra, ruff-infra, mypy-infra, cdk-synth, cdk-tests

fix: update AppSyncSdkApiApi call to pass lambda_authorizer from SSM #133
  infrastructure/cdk/stacks/api_stack.py
Due: black-infra, ruff-infra, mypy-infra, cdk-synth, cdk-tests

revert: undo api_stack import changes — generated constructs have path bugs #133
  infrastructure/cdk/stacks/api_stack.py
Due: black-infra, ruff-infra, mypy-infra, cdk-synth, cdk-tests

chore: file CDK construct bug #136 with orb-schema-generator
  .github/ISSUES/README.md
  .github/ISSUES/orb-schema-generator-v3-cdk-constructs.md
Due: none

test: add 69 property and unit tests for schema v3 migration correctness #111
  .kiro/specs/schema-generator-v3-upgrade/tasks.md
  apps/api/tests/test_schema_v3_migration.py
Due: black, ruff, mypy, pytest-backend

test: add 47 property tests for application-roles-management spec #application-roles
  .kiro/specs/application-roles-management/tasks.md
  apps/api/.pytest_cache/v/cache/nodeids
  apps/web/jest.config.js
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.property.spec.ts
  apps/web/src/app/features/customers/applications/components/application-roles-list/application-roles-list.component.property.spec.ts
  apps/web/src/app/features/customers/applications/components/create-role-dialog/create-role-dialog.component.property.spec.ts
  apps/web/src/app/features/customers/applications/components/edit-role-dialog/edit-role-dialog.component.property.spec.ts
  apps/web/src/app/features/customers/applications/store/application-roles/application-roles.effects.property.spec.ts
  apps/web/src/app/features/customers/applications/store/application-roles/application-roles.reducer.property.spec.ts
Due: frontend-lint, check-json, frontend-tests

test: add 41 property and unit tests for infrastructure-stack-refactoring spec
  .kiro/specs/infrastructure-stack-refactoring/tasks.md
  infrastructure/cdk/tests/test_infrastructure_properties.py
Due: black-infra, ruff-infra, mypy-infra, cdk-synth, cdk-tests

test: add 55 property tests for angular-21-upgrade verification
  .kiro/specs/angular-21-upgrade/tasks.md
  apps/web/src/app/upgrade-verification.property.spec.ts
Due: frontend-lint, frontend-tests

test: add 68 property and unit tests for local-e2e-testing-setup spec
  .kiro/specs/local-e2e-testing-setup/tasks.md
  apps/web/e2e/auth/cognito.property.spec.ts
  apps/web/e2e/fixtures/fixtures.property.spec.ts
  apps/web/e2e/fixtures/naming-convention.property.spec.ts
  apps/web/e2e/tests/auth-state-persistence.property.spec.ts
  apps/web/e2e/tests/aws-credential-errors.property.spec.ts
  apps/web/e2e/tests/aws-sdk-config.property.spec.ts
  apps/web/e2e/tests/cleanup-execution.property.spec.ts
  apps/web/e2e/tests/seeding-fallback.property.spec.ts
  apps/web/e2e/utils/utils.property.spec.ts
  apps/web/jest.config.js
Due: frontend-lint, frontend-tests

feat: add dev-mode SMS verification code logging for E2E testing
  apps/api/lambdas/sms_verification/index.py
Due: black, ruff, bandit, pytest-backend

feat: add Cowork E2E testing system with 16 sequential test workflows
  .kiro/specs/claude-computer-e2e-testing/.config.kiro
  .kiro/specs/claude-computer-e2e-testing/design.md
  .kiro/specs/claude-computer-e2e-testing/requirements.md
  .kiro/specs/claude-computer-e2e-testing/tasks.md
  CHANGELOG.md
  docs/README.md
  docs/e2e-cowork-instructions.md
  docs/e2e-testing.md
  infrastructure/cdk/stacks/bootstrap_stack.py
  infrastructure/cdk/tests/test_bootstrap_stack.py
  scripts/e2e-cowork-setup.sh
Due: black-infra, ruff-infra, mypy-infra, cdk-synth, cdk-tests

fix: update E2E test email to corey+e2e@thepetersfamily.ca
  .kiro/specs/claude-computer-e2e-testing/requirements.md
  docs/e2e-cowork-instructions.md
  infrastructure/cdk/stacks/bootstrap_stack.py
  infrastructure/cdk/tests/test_bootstrap_stack.py
Due: black-infra, ruff-infra, mypy-infra, cdk-synth, cdk-tests

fix: add hypothesis to infrastructure dev dependencies for CI
  infrastructure/Pipfile
  infrastructure/Pipfile.lock
Due: none

chore: add Pipfile.lock freshness checks to pre-commit and CI
  .github/workflows/deploy-infrastructure.yml
  .pre-commit-config.yaml
  Pipfile.lock
Due: check-yaml

Path conditions:
  black: any of: ^apps/api/.*\.py$ and \.py$
  ruff: any of: ^apps/api/.*\.py$ and \.py$
  mypy: any of: ^apps/api/.*\.py$ and \.py$ and not (^apps/api/(lambdas/|core/testing/).*\.py$)
  bandit: any of: ^apps/api/.*\.py$ and \.py$ and not (^apps/api/(tests/|.*test.*\.py$|core/testing/))
  black-infra: any of: ^infrastructure/.*\.py$ and \.py$
  ruff-infra: any of: ^infrastructure/.*\.py$ and \.py$
  mypy-infra: any of: ^infrastructure/.*\.py$ and \.py$ and not (^infrastructure/cdk\.out/)
  frontend-lint: any of: ^apps/web/.*\.(ts|html)$
  check-yaml: any of: \.(yaml|yml)$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  cdk-synth: any of: ^infrastructure/.*\.py$
  cdk-tests: any of: ^infrastructure/.*\.py$
  pytest-backend: any of: ^apps/api/.*\.py$
  frontend-tests: any of: ^apps/web/.*\.(ts|html)$
