Repository com-oneredboot/orb-integration-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, bandit, frontend-lint, check-yaml, check-json, check-toml, cdk-synth, pytest-backend

.pre-commit-config.yaml:

# Pre-commit hooks configuration for orb-integration-hub
# See https://pre-commit.com for more information
#
# NOTE: Uses local hooks to run in main pipenv environment instead of isolated environments.
# This avoids CodeArtifact authentication issues for standard development tools.
#
# SETUP: After cloning, create the git hook wrapper:
#   cat > .git/hooks/pre-commit << 'EOF'
#   #!/bin/bash
#   pipenv run pre-commit run --config=.pre-commit-config.yaml
#   EOF
#   chmod +x .git/hooks/pre-commit
#
# CRITICAL: NEVER use `git commit --no-verify` to bypass pre-commit hooks.

repos:
  - repo: local
    hooks:
      # ============================================
      # Python Hooks
      # ============================================

      # Black - Code formatting
      - id: black
        name: Format Python with black
        entry: pipenv run black --line-length=100
        language: system
        types: [python]
        files: ^apps/api/.*\.py$

      # Ruff - Fast linting
      # NOTE: No --fix flag to match CI behavior and catch unfixable errors like F841
      - id: ruff
        name: Lint Python with ruff
        entry: pipenv run ruff check
        language: system
        types: [python]
        files: ^apps/api/.*\.py$

      # MyPy - Static type checking
      - id: mypy
        name: Type check with mypy
        entry: pipenv run mypy --ignore-missing-imports
        language: system
        types: [python]
        files: ^apps/api/.*\.py$
        exclude: ^apps/api/(lambdas/|core/testing/).*\.py$

      # Bandit - Security scanning
      - id: bandit
        name: Security check with bandit
        entry: pipenv run bandit -f json --skip B101
        language: system
        types: [python]
        files: ^apps/api/.*\.py$
        exclude: ^apps/api/(tests/|.*test.*\.py$|core/testing/)

      # ============================================
      # Frontend Hooks (Angular/TypeScript)
      # ============================================

      - id: frontend-lint
        name: Lint frontend with ESLint
        entry: bash -c 'cd apps/web && npm run lint'
        language: system
        files: ^apps/web/.*\.(ts|html)$
        pass_filenames: false

      # ============================================
      # General File Hygiene
      # ============================================

      - id: check-yaml
        name: Check YAML syntax
        entry: python -c "import yaml, sys; yaml.safe_load(open(sys.argv[1], encoding='utf-8'))"
        language: system
        types: [yaml]

      - id: check-json
        name: Check JSON syntax
        entry: python -c "import json, sys; json.load(open(sys.argv[1], encoding='utf-8'))"
        language: system
        types: [json]

      - id: check-toml
        name: Check TOML syntax
        entry: python -c "import tomllib, sys; tomllib.load(open(sys.argv[1], 'rb'))"
        language: system
        types: [toml]

      # ============================================
      # Infrastructure Hooks
      # ============================================

      - id: cdk-synth
        name: CDK synth validation
        entry: bash -c 'cd infrastructure && pipenv run cdk synth --quiet'
        language: system
        files: ^infrastructure/.*\.py$
        pass_filenames: false

      # ============================================
      # Test Hooks
      # ============================================

      - id: pytest-backend
        name: Run backend tests
        entry: bash -c 'cd apps/api && pipenv run pytest lambdas/ core/testing/ --tb=short -q'
        language: system
        files: ^apps/api/.*\.py$
        pass_filenames: false

fix: resolve build errors and SMS rate limit window expiration bug
  apps/api/lambdas/sms_verification/index.py
  apps/api/lambdas/sms_verification/test_sms_verification.py
  apps/web/src/app/core/config/fontawesome-icons.ts
  apps/web/src/app/features/user/components/profile/profile.component.html
  apps/web/src/app/features/user/components/profile/profile.component.ts
  apps/web/src/app/features/user/store/user.effects.ts
Due: black, ruff, bandit, frontend-lint, pytest-backend

fix: correct SMS verification response parsing
  apps/web/src/app/core/services/user.service.ts
Due: frontend-lint

feat: unify verification code input styling across email, MFA, and phone flows
  apps/web/src/app/features/user/components/auth-flow/auth-flow.component.html
  apps/web/src/app/features/user/components/auth-flow/auth-flow.component.ts
  apps/web/src/app/shared/components/verification-code-input/verification-code-input.component.ts
Due: frontend-lint

feat: add submit button to shared verification code input component
  apps/web/src/app/features/user/components/profile/profile.component.html
  apps/web/src/app/features/user/components/profile/profile.component.scss
  apps/web/src/app/shared/components/verification-code-input/verification-code-input.component.ts
Due: frontend-lint

fix: SMS verification code type and profile button layout
  apps/api/graphql/schema.graphql
  apps/api/models/SmsVerificationModel.py
  apps/web/src/app/core/models/SmsVerificationModel.ts
  apps/web/src/app/core/services/user.service.ts
  apps/web/src/app/features/user/components/profile/profile.component.html
  apps/web/src/app/features/user/components/profile/profile.component.scss
  apps/web/src/app/shared/components/verification-code-input/verification-code-input.component.ts
  schemas/lambdas/SmsVerification.yml
Due: black, ruff, mypy, bandit, frontend-lint, check-yaml, pytest-backend

fix: update verification code input to use orb-red design system colors
  .kiro/specs/frontend-ui-consistency/design.md
  .kiro/specs/frontend-ui-consistency/requirements.md
  apps/web/src/app/shared/components/verification-code-input/verification-code-input.component.ts
  apps/web/src/styles/_tokens.scss
Due: frontend-lint

feat: migrate debug panels to shared component and add design system docs
  .kiro/specs/frontend-ui-consistency/design.md
  .kiro/specs/frontend-ui-consistency/tasks.md
  apps/web/src/app/app.component.scss
  apps/web/src/app/features/customers/applications/applications.component.html
  apps/web/src/app/features/customers/applications/applications.component.ts
  apps/web/src/app/features/customers/organizations/organizations.component.html
  apps/web/src/app/features/customers/organizations/organizations.component.ts
  apps/web/src/app/features/user/components/auth-flow/auth-flow.component.html
  apps/web/src/app/features/user/components/auth-flow/auth-flow.component.ts
  apps/web/src/app/features/user/components/this-is-not-the-page/this-is-not-the-page.component.html
  apps/web/src/app/features/user/components/this-is-not-the-page/this-is-not-the-page.component.ts
  apps/web/src/app/layouts/platform-layout/platform-layout.component.scss
  apps/web/src/app/layouts/user-layout/user-layout.component.scss
  apps/web/src/app/shared/components/debug/debug-panel.component.scss
  apps/web/src/app/shared/components/debug/debug-panel.component.ts
  apps/web/src/app/shared/components/ui/status-badge.component.scss
  apps/web/src/styles/variables.scss
  docs/design/design-system.md
Due: frontend-lint

feat: migrate dashboard and profile to shared DebugPanelComponent
  .kiro/specs/frontend-ui-consistency/tasks.md
  apps/web/src/app/features/user/components/dashboard/dashboard.component.html
  apps/web/src/app/features/user/components/dashboard/dashboard.component.ts
  apps/web/src/app/features/user/components/profile/profile.component.html
  apps/web/src/app/features/user/components/profile/profile.component.scss
  apps/web/src/app/features/user/components/profile/profile.component.ts
Due: frontend-lint

feat: complete frontend-ui-consistency spec with tests
  .kiro/specs/auth-workflow-review/tasks.md
  .kiro/specs/check-email-exists/tasks.md
  .kiro/specs/frontend-test-fixes/tasks.md
  .kiro/specs/frontend-ui-consistency/tasks.md
  .kiro/specs/smart-recovery-auth-flow/tasks.md
  apps/web/src/app/core/services/recovery.service.spec.ts
  apps/web/src/app/shared/components/auth/auth-button.component.spec.ts
  apps/web/src/app/shared/components/auth/auth-input-field.component.spec.ts
  apps/web/src/app/shared/components/verification-code-input/verification-code-input.component.spec.ts
  apps/web/src/app/tests/color-consistency.property.spec.ts
  apps/web/src/styles/variables.scss
Due: frontend-lint

feat: complete profile-setup-refactor spec with tests
  .kiro/specs/profile-setup-refactor/tasks.md
  apps/web/src/app/features/user/components/dashboard/dashboard.component.spec.ts
  apps/web/src/app/features/user/components/profile/profile.component.spec.ts
  apps/web/src/app/tests/dashboard-navigation.property.spec.ts
  apps/web/src/app/tests/form-validation-error-display.property.spec.ts
  apps/web/src/app/tests/user-status-calculation.property.spec.ts
Due: frontend-lint

feat: dashboard CTA redesign with role-based cards and card matrix
  .kiro/specs/dashboard-cta-redesign/design.md
  .kiro/specs/dashboard-cta-redesign/requirements.md
  .kiro/specs/dashboard-cta-redesign/tasks.md
  .kiro/specs/dashboard-role-content/design.md
  .kiro/specs/dashboard-role-content/requirements.md
  .kiro/specs/dashboard-role-content/tasks.md
  apps/web/src/app/features/user/components/dashboard/cta-card/cta-card.component.html
  apps/web/src/app/features/user/components/dashboard/cta-card/cta-card.component.scss
  apps/web/src/app/features/user/components/dashboard/cta-card/cta-card.component.spec.ts
  apps/web/src/app/features/user/components/dashboard/cta-card/cta-card.component.ts
  apps/web/src/app/features/user/components/dashboard/dashboard-side-nav/dashboard-side-nav.component.html
  apps/web/src/app/features/user/components/dashboard/dashboard-side-nav/dashboard-side-nav.component.scss
  apps/web/src/app/features/user/components/dashboard/dashboard-side-nav/dashboard-side-nav.component.spec.ts
  apps/web/src/app/features/user/components/dashboard/dashboard-side-nav/dashboard-side-nav.component.ts
  apps/web/src/app/features/user/components/dashboard/dashboard.component.html
  apps/web/src/app/features/user/components/dashboard/dashboard.component.scss
  apps/web/src/app/features/user/components/dashboard/dashboard.component.spec.ts
  apps/web/src/app/features/user/components/dashboard/dashboard.component.ts
  apps/web/src/app/features/user/components/dashboard/dashboard.types.ts
  apps/web/src/app/features/user/services/dashboard-cta.service.spec.ts
  apps/web/src/app/features/user/services/dashboard-cta.service.ts
  apps/web/src/app/layouts/user-layout/user-layout.component.html
  apps/web/src/app/layouts/user-layout/user-layout.component.spec.ts
  apps/web/src/app/tests/dashboard-cta.property.spec.ts
  apps/web/src/app/tests/dashboard-navigation.property.spec.ts
  apps/web/src/styles/components.scss
Due: frontend-lint

docs: add CTA card system to frontend-components steering file
  .kiro/steering/frontend-components.md
Due: none

feat: reorganize navigation - top menu simplified, quick actions for CUSTOMER users
  apps/web/src/app/features/user/components/dashboard/dashboard-side-nav/dashboard-side-nav.component.html
  apps/web/src/app/features/user/components/dashboard/dashboard-side-nav/dashboard-side-nav.component.ts
  apps/web/src/app/features/user/components/dashboard/dashboard.component.html
  apps/web/src/app/features/user/components/dashboard/dashboard.component.ts
  apps/web/src/app/features/user/services/dashboard-cta.service.ts
  apps/web/src/app/layouts/user-layout/user-layout.component.html
  apps/web/src/app/layouts/user-layout/user-layout.component.ts
  apps/web/src/styles/components.scss
Due: frontend-lint

fix: generate organizationId and ownerId client-side for createDraft
  apps/web/src/app/core/services/organization.service.ts
Due: frontend-lint

chore: file issue #19 for UUID utilities in orb-common
  .github/ISSUES/README.md
  .github/ISSUES/orb-infrastructure-uuid-utilities.md
Due: none

chore: update issue tracking - #19 resolved, orb-common v0.3.0 with UUID utilities
  .github/ISSUES/README.md
Due: none

fix: pass ownerId to createDraft from current user store
  apps/web/src/app/core/services/organization.service.ts
  apps/web/src/app/features/customers/organizations/components/organizations-list/organizations-list.component.ts
  apps/web/src/app/features/customers/organizations/store/organizations.effects.ts
Due: frontend-lint

fix: handle both wrapped and direct GraphQL mutation response formats
  apps/web/src/app/core/services/organization.service.ts
Due: frontend-lint

chore: file issue #78 for mutation VTL response mismatch
  .github/ISSUES/README.md
  .github/ISSUES/orb-schema-generator-mutation-response-mismatch.md
Due: none

feat: update organization components to v0.19.0 response format #79
  .kiro/specs/graphql-service-cleanup/tasks.md
  apps/web/src/app/core/errors/api-errors.spec.ts
  apps/web/src/app/core/errors/api-errors.ts
  apps/web/src/app/core/graphql/Organizations.graphql.ts
  apps/web/src/app/core/graphql/Users.graphql.ts
  apps/web/src/app/core/models/AuthModel.ts
  apps/web/src/app/core/models/UsersModel.ts
  apps/web/src/app/core/services/api.service.ts
  apps/web/src/app/core/services/organization.service.ts
  apps/web/src/app/core/services/user.service.ts
  apps/web/src/app/core/types/graphql.types.ts
  apps/web/src/app/features/customers/organizations/components/organization-detail-page/organization-detail-page.component.ts
  apps/web/src/app/features/customers/organizations/components/organizations-list/organizations-list.component.ts
  apps/web/src/app/features/customers/organizations/store/organizations.effects.ts
Due: frontend-lint

feat: add ApiService tests and GraphQL steering file #79
  .kiro/specs/graphql-service-cleanup/tasks.md
  .kiro/steering/graphql-services.md
  apps/web/src/app/core/services/api.service.property.spec.ts
  apps/web/src/app/core/services/api.service.spec.ts
Due: frontend-lint

fix: add defensive null checks to organization selectors and fix lint errors #79
  .kiro/specs/graphql-service-cleanup/design.md
  .kiro/specs/graphql-service-cleanup/tasks.md
  apps/web/src/app/core/services/organization.service.spec.ts
  apps/web/src/app/features/customers/organizations/store/organizations.selectors.ts
Due: frontend-lint

feat: add OrganizationService property tests for mutation response handling #79
  .kiro/specs/graphql-service-cleanup/tasks.md
  apps/web/src/app/core/services/organization.service.property.spec.ts
Due: frontend-lint

docs: update tasks.md with final checkpoint status #79
  .kiro/specs/graphql-service-cleanup/tasks.md
Due: none

docs: update tasks.md with final checkpoint status
  .kiro/specs/graphql-service-cleanup/tasks.md
Due: none

docs: fix version reference in design.md (v0.19.1)
  .kiro/specs/graphql-service-cleanup/design.md
Due: none

fix: add USER group auth to Users List queries
  apps/api/graphql/schema.graphql
  schemas/tables/Users.yml
Due: check-yaml

fix: add null envelope checks in ApiService
  apps/web/src/app/core/services/api.service.ts
Due: frontend-lint

fix: add missing FontAwesome icons and rename legacy-types to service-types
  apps/web/src/app/core/config/fontawesome-icons.ts
  apps/web/src/app/core/models/legacy-types.ts
  apps/web/src/app/core/models/service-types.ts
  apps/web/src/app/core/services/cognito.service.ts
  apps/web/src/app/core/services/user.service.ts
  apps/web/src/app/features/customers/organizations/components/organizations-list/organizations-list.component.ts
  apps/web/src/app/features/user/store/user.effects.ts
Due: frontend-lint

fix: improve organization detail page styling and documentation
  apps/web/src/app/features/customers/organizations/components/organization-detail-page/organization-detail-page.component.html
  apps/web/src/app/features/customers/organizations/components/organization-detail-page/organization-detail-page.component.scss
  apps/web/src/app/features/customers/organizations/store/organizations.reducer.ts
Due: frontend-lint

fix: add missing SCSS variables (spacing-2xl, font-size-2xl)
  apps/web/src/styles/variables.scss
Due: none

fix: update organization detail page to use global orb-card styles
  apps/web/src/app/features/customers/organizations/components/organization-detail-page/organization-detail-page.component.html
  apps/web/src/app/features/customers/organizations/components/organization-detail-page/organization-detail-page.component.scss
Due: frontend-lint

fix: remove max-width constraint on organization detail card to match list page
  apps/web/src/app/features/customers/organizations/components/organization-detail-page/organization-detail-page.component.scss
Due: none

fix: show delete button for all organizations including PENDING status
  apps/web/src/app/features/customers/organizations/components/organization-detail-page/organization-detail-page.component.html
Due: frontend-lint

fix: remove duplicate description from card header, change card header background to dark blue
  apps/web/src/app/features/customers/organizations/components/organizations-list/organizations-list.component.html
  apps/web/src/styles/components.scss
Due: frontend-lint

fix: reduce card header padding, change button to white outline style
  apps/web/src/styles/components.scss
Due: none
