Repository com-oneredboot/orb-integration-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, bandit, black-infra, ruff-infra, mypy-infra, frontend-lint, check-yaml, check-json, check-toml, cdk-synth, cdk-tests, pytest-backend, frontend-tests

black:
  name: Format Python with black
  entry: pipenv run black --line-length=100
  language: system

ruff:
  name: Lint Python with ruff
  entry: pipenv run ruff check
  language: system

mypy:
  name: Type check with mypy
  entry: pipenv run mypy --ignore-missing-imports
  language: system

bandit:
  name: Security check with bandit
  entry: pipenv run bandit -f json --skip B101
  language: system

black-infra:
  name: Format infrastructure Python with black
  entry: bash -c 'cd infrastructure && pipenv run black --line-length=100 "${@#infrastructure/}"' --
  language: system

ruff-infra:
  name: Lint infrastructure Python with ruff
  entry: bash -c 'cd infrastructure && pipenv run ruff check --ignore E402 "${@#infrastructure/}"' --
  language: system

mypy-infra:
  name: Type check infrastructure with mypy
  entry: bash -c 'cd infrastructure && pipenv run mypy --ignore-missing-imports "${@#infrastructure/}"' --
  language: system

frontend-lint:
  name: Lint frontend with ESLint
  entry: bash -c 'cd apps/web && npm run lint'
  language: system
  pass_filenames: false

check-yaml:
  name: Check YAML syntax
  entry: python -c "import yaml, sys; yaml.safe_load(open(sys.argv[1], encoding='utf-8'))"
  language: system

check-json:
  name: Check JSON syntax
  entry: python -c "import json, sys; json.load(open(sys.argv[1], encoding='utf-8'))"
  language: system

check-toml:
  name: Check TOML syntax
  entry: python -c "import tomllib, sys; tomllib.load(open(sys.argv[1], 'rb'))"
  language: system

cdk-synth:
  name: CDK synth validation
  entry: bash -c 'cd infrastructure && pipenv run cdk synth --quiet'
  language: system
  pass_filenames: false

cdk-tests:
  name: Run CDK infrastructure tests
  entry: bash -c 'cd infrastructure && PIPENV_IGNORE_VIRTUALENVS=1 pipenv run pytest cdk/tests/ --tb=short -q'
  language: system
  pass_filenames: false

pytest-backend:
  name: Run backend tests
  entry: bash -c 'cd apps/api && pipenv run pytest lambdas/ core/testing/ --tb=short -q'
  language: system
  pass_filenames: false

frontend-tests:
  name: Run frontend tests
  entry: bash -c 'cd apps/web && npm test -- --no-watch --browsers=ChromeHeadless'
  language: system
  pass_filenames: false

fix: restructure user-layout header to constrain menu width
  apps/web/src/app/layouts/user-layout/user-layout.component.html
  apps/web/src/app/layouts/user-layout/user-layout.component.scss
Due: frontend-lint, frontend-tests

fix: simplify user-layout to match platform-layout structure
  apps/web/src/app/layouts/user-layout/user-layout.component.html
  apps/web/src/app/layouts/user-layout/user-layout.component.scss
Due: frontend-lint, frontend-tests

fix: copy exact platform-layout structure to user-layout
  apps/web/src/app/layouts/user-layout/user-layout.component.html
  apps/web/src/app/layouts/user-layout/user-layout.component.scss
Due: frontend-lint, frontend-tests

feat: add platform-style background pattern to hero component
  apps/web/src/app/shared/components/hero-split/hero-split.component.scss
Due: none

fix: move background pattern from hero to user-layout wrapper
  apps/web/src/app/layouts/user-layout/user-layout.component.scss
  apps/web/src/app/shared/components/hero-split/hero-split.component.scss
Due: none

feat: add dark pattern background to hero on user pages only
  apps/web/src/app/layouts/user-layout/user-layout.component.scss
Due: none

feat: add dark pattern background to hero component wrapper
  apps/web/src/app/layouts/user-layout/user-layout.component.scss
  apps/web/src/app/shared/components/hero-split/hero-split.component.scss
Due: none

revert: remove dark pattern from hero component
  apps/web/src/app/shared/components/hero-split/hero-split.component.scss
Due: none

feat: add dark pattern background to user-layout
  apps/web/src/app/layouts/user-layout/user-layout.component.scss
Due: none

refactor: remove user-bg wrapper from user-layout
  apps/web/src/app/layouts/user-layout/user-layout.component.html
  apps/web/src/app/layouts/user-layout/user-layout.component.scss
Due: frontend-lint, frontend-tests

fix: make app-container full width with constrained header menu
  apps/web/src/app/layouts/user-layout/user-layout.component.scss
Due: none

fix: align hero container width with menu width (1000px)
  apps/web/src/app/shared/components/hero-split/hero-split.component.scss
Due: none

fix: align dashboard content width to match menu and hero (1000px)
  apps/web/src/app/features/user/components/dashboard/dashboard.component.scss
Due: none

fix: set dashboard content to 100% width after hero
  apps/web/src/app/features/user/components/dashboard/dashboard.component.scss
Due: none

fix: remove centering constraint from user-layout main-content
  apps/web/src/app/features/user/components/dashboard/dashboard.component.scss
  apps/web/src/app/layouts/user-layout/user-layout.component.scss
Due: none

fix: move padding responsibility to individual page components
  apps/web/src/app/features/user/components/dashboard/dashboard.component.scss
Due: none

fix: remove top and bottom padding from hero-split component
  apps/web/src/app/shared/components/hero-split/hero-split.component.scss
Due: none

fix: remove top and bottom padding from platform-layout main-content
  apps/web/src/app/layouts/platform-layout/platform-layout.component.scss
Due: none

feat: add dark dotted pattern background to hero-split component
  apps/web/src/app/shared/components/hero-split/hero-split.component.scss
Due: none

fix: remove asymmetric padding from platform-layout main-content
  apps/web/src/app/layouts/platform-layout/platform-layout.component.scss
Due: none

docs: mark wrapper-component-elimination spec Phase 6 complete
  .kiro/specs/wrapper-component-elimination/tasks.md
Due: none

feat: complete page layout standardization spec
  .kiro/specs/page-layout-standardization/tasks.md
  apps/web/src/app/features/customers/applications/components/applications-list/applications-list.component.spec.ts
  apps/web/src/app/features/customers/organizations/components/organizations-list/organizations-list.component.spec.ts
  apps/web/src/app/layouts/pages/user-page/user-page.component.spec.ts
  apps/web/src/app/shared/components/tab-navigation/tab-navigation.component.html
  apps/web/src/app/shared/components/tab-navigation/tab-navigation.component.spec.ts
  apps/web/src/app/shared/components/tab-navigation/tab-navigation.component.ts
  apps/web/src/app/shared/testing/page-layout.test-utils.ts
Due: frontend-lint, frontend-tests

fix: replace invalid 'map' type with 'json' in ApplicationEnvironmentConfig schema
  apps/api/graphql/schema.graphql
  infrastructure/cdk/generated/appsync/resolvers/Query.ApplicationEnvironmentConfigListByApplicationId.request.vtl
  infrastructure/cdk/generated/tables/__init__.py
  schemas/tables/ApplicationEnvironmentConfig.yml
Due: black-infra, ruff-infra, mypy-infra, check-yaml, cdk-synth, cdk-tests

feat: implement horizontal breadcrumb and tabs layout
  .kiro/specs/horizontal-breadcrumb-tabs-layout/design.md
  .kiro/specs/horizontal-breadcrumb-tabs-layout/requirements.md
  .kiro/specs/horizontal-breadcrumb-tabs-layout/tasks.md
  apps/web/src/app/layouts/pages/user-page/user-page.component.html
  apps/web/src/app/layouts/pages/user-page/user-page.component.scss
  apps/web/src/app/shared/components/breadcrumb/breadcrumb.component.html
  apps/web/src/app/shared/components/breadcrumb/breadcrumb.component.scss
  apps/web/src/app/shared/components/breadcrumb/breadcrumb.component.spec.ts
  apps/web/src/app/shared/components/breadcrumb/breadcrumb.component.ts
  apps/web/src/styles/components.scss
Due: frontend-lint, frontend-tests

docs: track orb-templates issue #50 for pipenv CodeArtifact guidance
  .github/ISSUES/README.md
  .github/ISSUES/orb-templates-pipenv-codeartifact.md
Due: none

chore: close environment-detail-page spec and mark orb-sdk as in planning
  .kiro/specs/environment-detail-page/tasks.md
  .kiro/specs/orb-sdk/tasks.md
Due: none

feat: add spec creation process standards and validation hook
  .kiro/hooks/validate-spec-requirements.json
  .kiro/specs/application-users-list/LESSONS-LEARNED.md
  .kiro/specs/application-users-list/requirements.md
  .kiro/steering/project-standards.md
Due: check-json

docs: open issue #51 with orb-templates for Kiro hooks guidance
  .github/ISSUES/README.md
  .github/ISSUES/orb-templates-kiro-hooks-guidance.md
Due: none

feat: implement users list foundation (tasks 1-9) and fix breadcrumb alignment
  .kiro/specs/application-users-list/design.md
  .kiro/specs/application-users-list/tasks.md
  apps/web/src/app/core/services/users.service.spec.ts
  apps/web/src/app/core/services/users.service.ts
  apps/web/src/app/features/customers/users/components/users-list/users-list.component.html
  apps/web/src/app/features/customers/users/components/users-list/users-list.component.scss
  apps/web/src/app/features/customers/users/components/users-list/users-list.component.ts
  apps/web/src/app/features/customers/users/store/index.ts
  apps/web/src/app/features/customers/users/store/users.actions.ts
  apps/web/src/app/features/customers/users/store/users.effects.spec.ts
  apps/web/src/app/features/customers/users/store/users.effects.ts
  apps/web/src/app/features/customers/users/store/users.reducer.property.spec.ts
  apps/web/src/app/features/customers/users/store/users.reducer.spec.ts
  apps/web/src/app/features/customers/users/store/users.reducer.ts
  apps/web/src/app/features/customers/users/store/users.selectors.property.spec.ts
  apps/web/src/app/features/customers/users/store/users.selectors.spec.ts
  apps/web/src/app/features/customers/users/store/users.selectors.ts
  apps/web/src/app/features/customers/users/store/users.state.ts
  apps/web/src/app/store/app.reducer.ts
  apps/web/src/app/store/app.state.ts
  apps/web/src/main.ts
  apps/web/src/styles/components.scss
Due: frontend-lint, frontend-tests

fix: remove user-page content bottom padding and configure FontAwesome for tests
  apps/web/src/app/layouts/pages/user-page/user-page.component.scss
  apps/web/src/test-setup.ts
Due: frontend-lint, frontend-tests

feat: add users list page with filtering, sorting, and pagination
  .kiro/specs/application-users-list/tasks.md
  CHANGELOG.md
  apps/web/package.json
  apps/web/src/app/features/customers/customers.routes.ts
  apps/web/src/app/features/customers/users/components/users-list/users-list.component.html
  apps/web/src/app/features/customers/users/components/users-list/users-list.component.property.spec.ts
  apps/web/src/app/features/customers/users/components/users-list/users-list.component.spec.ts
  apps/web/src/app/features/customers/users/components/users-list/users-list.component.ts
  apps/web/src/app/features/customers/users/users.routes.ts
Due: frontend-lint, check-json, frontend-tests

docs: clarify CheckEmailExists.graphql.ts is custom code
  apps/web/src/app/core/graphql/CheckEmailExists.graphql.ts
Due: frontend-lint, frontend-tests

fix: adjust page header and component spacing
  apps/web/src/app/features/customers/users/components/users-list/users-list.component.property.spec.ts
  apps/web/src/app/features/customers/users/users.routes.ts
  apps/web/src/app/layouts/pages/user-page/user-page.component.scss
  apps/web/src/app/shared/components/breadcrumb/breadcrumb.component.scss
  apps/web/src/styles/components.scss
Due: frontend-lint, frontend-tests

chore: update package-lock.json version to 0.2.0
  apps/web/package-lock.json
Due: check-json

docs: add orb-schema-generator 1.3.0 upgrade validation report
  SCHEMA_UPGRADE_VALIDATION.md
Due: none

feat: update ApplicationUserRoles schema with denormalized fields
  .github/ISSUES/README.md
  .github/ISSUES/orb-schema-generator-custom-operations.md
  schemas/lambdas/GetApplicationUsers.yml
  schemas/models/UserWithRoles.yml
  schemas/registries/UserGroup.yml
  schemas/tables/ApplicationUserRoles.yml
  schemas/tables/ApplicationUsers.yml
Due: check-yaml

Path conditions:
  black: any of: ^apps/api/.*\.py$ and \.py$
  ruff: any of: ^apps/api/.*\.py$ and \.py$
  mypy: any of: ^apps/api/.*\.py$ and \.py$ and not (^apps/api/(lambdas/|core/testing/).*\.py$)
  bandit: any of: ^apps/api/.*\.py$ and \.py$ and not (^apps/api/(tests/|.*test.*\.py$|core/testing/))
  black-infra: any of: ^infrastructure/.*\.py$ and \.py$
  ruff-infra: any of: ^infrastructure/.*\.py$ and \.py$
  mypy-infra: any of: ^infrastructure/.*\.py$ and \.py$ and not (^infrastructure/cdk\.out/)
  frontend-lint: any of: ^apps/web/.*\.(ts|html)$
  check-yaml: any of: \.(yaml|yml)$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  cdk-synth: any of: ^infrastructure/.*\.py$
  cdk-tests: any of: ^infrastructure/.*\.py$
  pytest-backend: any of: ^apps/api/.*\.py$
  frontend-tests: any of: ^apps/web/.*\.(ts|html)$
