Repository com-oneredboot/orb-integration-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, bandit, frontend-lint, check-yaml, check-json, check-toml, cdk-synth, pytest-backend

black:
  name: Format Python with black
  entry: pipenv run black --line-length=100
  language: system

ruff:
  name: Lint Python with ruff
  entry: pipenv run ruff check
  language: system

mypy:
  name: Type check with mypy
  entry: pipenv run mypy --ignore-missing-imports
  language: system

bandit:
  name: Security check with bandit
  entry: pipenv run bandit -f json --skip B101
  language: system

frontend-lint:
  name: Lint frontend with ESLint
  entry: bash -c 'cd apps/web && npm run lint'
  language: system
  pass_filenames: false

check-yaml:
  name: Check YAML syntax
  entry: python -c "import yaml, sys; yaml.safe_load(open(sys.argv[1], encoding='utf-8'))"
  language: system

check-json:
  name: Check JSON syntax
  entry: python -c "import json, sys; json.load(open(sys.argv[1], encoding='utf-8'))"
  language: system

check-toml:
  name: Check TOML syntax
  entry: python -c "import tomllib, sys; tomllib.load(open(sys.argv[1], 'rb'))"
  language: system

cdk-synth:
  name: CDK synth validation
  entry: bash -c 'cd infrastructure && pipenv run cdk synth --quiet'
  language: system
  pass_filenames: false

pytest-backend:
  name: Run backend tests
  entry: bash -c 'cd apps/api && pipenv run pytest lambdas/ core/testing/ --tb=short -q'
  language: system
  pass_filenames: false

feat: add inline key display after API key generation
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.html
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.scss
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.ts
Due: frontend-lint

docs: add DataGridComponent and global CSS classes to steering standards
  .kiro/steering/frontend-components.md
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.html
  apps/web/src/app/features/customers/applications/components/groups-list/groups-list.component.html
  apps/web/src/app/features/customers/applications/components/groups-list/groups-list.component.scss
Due: frontend-lint

refactor: use global orb-tabs classes in application detail page
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.html
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.scss
Due: frontend-lint

fix: add missing DataGrid bindings to Security tab API Keys table
  .kiro/specs/api-key-configuration-flow/tasks.md
  .kiro/specs/application-security-tab/tasks.md
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.html
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.property.spec.ts
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.scss
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.spec.ts
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.ts
  apps/web/src/app/features/customers/organizations/components/organization-detail-page/organization-detail-page.component.html
  apps/web/src/app/features/customers/organizations/components/organization-detail-page/organization-detail-page.component.ts
  apps/web/src/app/shared/components/danger-zone-card/danger-zone-card.component.ts
Due: frontend-lint

fix: update API keys table to use canRotate property and fix type definitions
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.html
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.ts
  apps/web/src/main.ts
Due: frontend-lint

fix: update CDK test to expect 16 DynamoDB tables
  infrastructure/cdk/tests/test_dynamodb_stack.py
Due: cdk-synth

fix: add missing pre-commit hooks for CDK tests and frontend tests
  .pre-commit-config.yaml
Due: check-yaml

chore: apply black formatting to Python files
  apps/api/enums/__init__.py
  apps/api/enums/application_role_status_enum.py
  apps/api/enums/application_status_enum.py
  apps/api/enums/application_user_status_enum.py
  apps/api/enums/error_registry_enum.py
  apps/api/enums/legal_basis_enum.py
  apps/api/enums/notification_status_enum.py
  apps/api/enums/notification_type_enum.py
  apps/api/enums/organization_status_enum.py
  apps/api/enums/organization_user_role_enum.py
  apps/api/enums/organization_user_status_enum.py
  apps/api/enums/ownership_transfer_status_enum.py
  apps/api/enums/privacy_request_status_enum.py
  apps/api/enums/privacy_request_type_enum.py
  apps/api/enums/role_status_enum.py
  apps/api/enums/role_type_enum.py
  apps/api/enums/schema_type_enum.py
  apps/api/enums/user_group_enum.py
  apps/api/enums/user_status_enum.py
  apps/api/models/ApplicationRolesModel.py
  apps/api/models/ApplicationUsersModel.py
  apps/api/models/ApplicationsModel.py
  apps/api/models/AuthModel.py
  apps/api/models/CheckEmailExistsModel.py
  apps/api/models/MfaSetupDetailsModel.py
  apps/api/models/NotificationsModel.py
  apps/api/models/OrganizationUsersModel.py
  apps/api/models/OrganizationsModel.py
  apps/api/models/OwnershipTransferRequestsModel.py
  apps/api/models/PrivacyRequestsModel.py
  apps/api/models/RolesModel.py
  apps/api/models/SmsRateLimitModel.py
  apps/api/models/SmsVerificationModel.py
  apps/api/models/UsersModel.py
  apps/api/models/__init__.py
Due: black, ruff, mypy, bandit, pytest-backend

chore: close graphql-service-cleanup spec - all tasks complete
  .kiro/specs/graphql-service-cleanup/tasks.md
Due: none

feat: refactor profile component to use NgRx store pattern
  .kiro/specs/store-centric-refactoring/tasks.md
  apps/web/src/app/features/user/components/profile/profile.component.ts
  apps/web/src/app/features/user/store/user.actions.ts
  apps/web/src/app/features/user/store/user.effects.ts
  apps/web/src/app/features/user/store/user.reducer.ts
Due: frontend-lint

chore: mark store-centric-refactoring spec tasks complete
  .kiro/specs/store-centric-refactoring/tasks.md
Due: none

test: add unit tests for API key activation validation flow
  .kiro/specs/api-key-configuration-flow/tasks.md
  apps/web/src/app/features/customers/applications/components/application-detail-page/api-key-lifecycle.property.spec.ts
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.spec.ts
  apps/web/src/app/features/customers/applications/utils/api-key-validation.spec.ts
  apps/web/src/app/features/user/components/profile/profile.component.spec.ts
Due: frontend-lint

fix: complete api-key-lifecycle-management, store-centric-refactoring, and fix-graphql-service-tests specs
  .kiro/specs/api-key-lifecycle-management/tasks.md
  .kiro/specs/fix-graphql-service-tests/design.md
  .kiro/specs/fix-graphql-service-tests/requirements.md
  .kiro/specs/fix-graphql-service-tests/tasks.md
  .kiro/specs/store-centric-refactoring/tasks.md
  apps/web/angular.json
  apps/web/src/app/core/services/error-handler.service.spec.ts
  apps/web/src/app/core/testing/api-service.testing.ts
  apps/web/src/app/features/customers/applications/components/api-key-generate-dialog/api-key-generate-dialog.component.spec.ts
  apps/web/src/app/features/customers/applications/components/api-key-rotate-dialog/api-key-rotate-dialog.component.spec.ts
  apps/web/src/app/features/customers/applications/components/api-keys-list/api-keys-list.component.spec.ts
  apps/web/src/app/features/customers/applications/components/application-detail-page/api-key-lifecycle.property.spec.ts
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.spec.ts
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.ts
  apps/web/src/app/features/customers/applications/components/applications-list/applications-list.component.spec.ts
  apps/web/src/app/features/user/components/dashboard/dashboard-side-nav/dashboard-side-nav.component.spec.ts
  apps/web/src/app/features/user/components/dashboard/dashboard.component.spec.ts
  apps/web/src/app/features/user/components/profile/profile.component.spec.ts
  apps/web/src/app/features/user/services/dashboard-cta.service.spec.ts
  apps/web/src/app/layouts/user-layout/user-layout.component.spec.ts
  apps/web/src/app/tests/form-validation-error-display.property.spec.ts
  apps/web/src/app/tests/user-status-calculation.property.spec.ts
  apps/web/src/test-setup.ts
  apps/web/tsconfig.spec.json
Due: frontend-lint, check-json

chore: open orb-templates #39 for AWS resource naming conventions
  .github/ISSUES/README.md
  .github/ISSUES/orb-templates-39.md
Due: none

feat: migrate secrets to slash-based naming convention #32
  .kiro/settings/mcp.json
  .kiro/specs/secrets-naming-convention/design.md
  .kiro/specs/secrets-naming-convention/requirements.md
  .kiro/specs/secrets-naming-convention/tasks.md
  .pre-commit-config.yaml
  CHANGELOG.md
  apps/web/scripts/secrets-retrieval.js
  apps/web/scripts/setup-dev-env.js
  infrastructure/cdk/config.py
  infrastructure/cdk/stacks/appsync_stack.py
  infrastructure/cdk/stacks/bootstrap_stack.py
  infrastructure/cdk/stacks/lambda_stack.py
  infrastructure/cdk/tests/test_appsync_stack.py
  infrastructure/cdk/tests/test_bootstrap_stack.py
  infrastructure/cdk/tests/test_config.py
  infrastructure/cdk/tests/test_lambda_stack.py
Due: check-yaml, check-json, cdk-synth

chore: file orb-templates #40 for MCP authentication issue
  .github/ISSUES/README.md
  .github/ISSUES/orb-templates-40.md
  .kiro/settings/mcp.json
Due: check-json

test: add CDK tests for ApplicationEnvironmentConfig and ApiRateLimits tables
  .kiro/specs/application-environment-config/tasks.md
  infrastructure/cdk/tests/test_dynamodb_stack.py
Due: cdk-synth

feat: complete Phase 2 backend lambda resolvers with unit tests
  .kiro/specs/application-environment-config/tasks.md
  apps/api/lambdas/environment_config/test_environment_config.py
Due: black, ruff, pytest-backend

feat: complete Phase 3 GraphQL and Phase 4 Infrastructure
  .kiro/specs/application-environment-config/tasks.md
Due: none

feat: complete Phase 5 Task 15 - NgRx state management for environment config
  .kiro/specs/application-environment-config/tasks.md
  apps/web/src/app/core/services/environment-config.service.ts
  apps/web/src/app/features/customers/applications/store/environment-config/environment-config.actions.ts
  apps/web/src/app/features/customers/applications/store/environment-config/environment-config.effects.ts
  apps/web/src/app/features/customers/applications/store/environment-config/environment-config.reducer.ts
  apps/web/src/app/features/customers/applications/store/environment-config/environment-config.selectors.ts
  apps/web/src/app/features/customers/applications/store/environment-config/environment-config.state.ts
  apps/web/src/app/features/customers/applications/store/environment-config/index.ts
Due: frontend-lint

feat: complete Phase 5 Task 16 - Environment config UI components
  .kiro/specs/application-environment-config/tasks.md
  apps/web/src/app/features/customers/applications/components/environment-config-tab/environment-config-tab.component.html
  apps/web/src/app/features/customers/applications/components/environment-config-tab/environment-config-tab.component.scss
  apps/web/src/app/features/customers/applications/components/environment-config-tab/environment-config-tab.component.ts
Due: frontend-lint

feat: complete Phase 5 Task 17 - Update Security tab for dual keys
  .kiro/specs/application-environment-config/tasks.md
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.html
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.scss
Due: frontend-lint

feat: complete Phase 5 Task 18 - Frontend unit tests for environment config
  .kiro/specs/application-environment-config/tasks.md
  apps/web/src/app/features/customers/applications/components/application-detail-page/key-type-display.spec.ts
  apps/web/src/app/features/customers/applications/components/environment-config-tab/environment-config-tab.component.spec.ts
  apps/web/src/app/features/customers/applications/store/environment-config/environment-config.reducer.spec.ts
  apps/web/src/app/features/customers/applications/store/environment-config/environment-config.selectors.spec.ts
Due: frontend-lint

feat: complete Phase 6 - Webhook delivery system with SQS queue and Lambda
  .kiro/specs/application-environment-config/tasks.md
  apps/api/lambdas/webhooks/__init__.py
  apps/api/lambdas/webhooks/index.py
  apps/api/lambdas/webhooks/publisher.py
  infrastructure/cdk/stacks/webhook_stack.py
Due: black, ruff, bandit, cdk-synth, pytest-backend

feat: complete Phase 7 - Testing and documentation for environment config
  .kiro/specs/application-environment-config/tasks.md
  CHANGELOG.md
  apps/api/tests/integration/__init__.py
  apps/api/tests/integration/test_environment_config_integration.py
  apps/api/tests/property/test_webhook_signature_property.py
  docs/api.md
Due: black, ruff, mypy, pytest-backend

feat: complete Phase 8 - Final verification and spec completion for environment config
  .kiro/specs/application-environment-config/tasks.md
Due: none

fix: resolve pre-existing test failures and lint issues
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.spec.ts
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.ts
  apps/web/src/app/features/customers/applications/components/environment-config-tab/environment-config-tab.component.html
  apps/web/src/app/features/customers/applications/store/environment-config/environment-config.effects.ts
  apps/web/src/app/features/customers/applications/store/environment-config/environment-config.selectors.ts
  apps/web/src/app/features/user/components/auth-flow/auth-flow.component.spec.ts
Due: frontend-lint

fix: environments list shows data from API keys, adds create button
  .kiro/specs/environments-list-and-detail/design.md
  .kiro/specs/environments-list-and-detail/requirements.md
  .kiro/specs/environments-list-and-detail/tasks.md
  apps/web/src/app/core/config/fontawesome-icons.ts
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.html
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.ts
  apps/web/src/app/features/customers/applications/components/environment-detail-page/environment-detail-page.component.html
  apps/web/src/app/features/customers/applications/components/environment-detail-page/environment-detail-page.component.property.spec.ts
  apps/web/src/app/features/customers/applications/components/environment-detail-page/environment-detail-page.component.scss
  apps/web/src/app/features/customers/applications/components/environment-detail-page/environment-detail-page.component.ts
  apps/web/src/app/features/customers/applications/components/environments-list/environments-list.component.html
  apps/web/src/app/features/customers/applications/components/environments-list/environments-list.component.scss
  apps/web/src/app/features/customers/applications/components/environments-list/environments-list.component.ts
  apps/web/src/app/features/customers/applications/store/environments/environments.actions.ts
  apps/web/src/app/features/customers/applications/store/environments/environments.effects.ts
  apps/web/src/app/features/customers/applications/store/environments/environments.reducer.property.spec.ts
  apps/web/src/app/features/customers/applications/store/environments/environments.reducer.ts
  apps/web/src/app/features/customers/applications/store/environments/environments.selectors.ts
  apps/web/src/app/features/customers/applications/store/environments/environments.state.ts
  apps/web/src/app/features/user/components/auth-flow/auth-flow.component.html
  apps/web/src/app/features/user/components/profile/profile.component.html
  apps/web/src/main.ts
  infrastructure/cdk/generated/appsync/resolvers/Query.ApplicationEnvironmentConfigListByApplicationId.request.vtl
Due: frontend-lint

fix: API key prefix now includes last 6 characters for identification
  apps/web/src/app/core/services/api-key.service.ts
  apps/web/src/app/features/customers/applications/components/environments-list/environments-list.component.html
  apps/web/src/app/features/customers/applications/components/environments-list/environments-list.component.ts
  apps/web/src/app/features/customers/applications/store/environments/environments.effects.ts
Due: frontend-lint

fix: add 3s timeout to configs query for faster loading
  apps/web/src/app/features/customers/applications/store/environments/environments.effects.ts
Due: frontend-lint

fix: simplify environments effect to only load API keys
  apps/web/src/app/features/customers/applications/store/environments/environments.effects.ts
Due: frontend-lint

fix: add missing FontAwesome icons and debug logging
  apps/web/src/app/core/config/fontawesome-icons.ts
  apps/web/src/app/features/customers/applications/store/environments/environments.effects.ts
Due: frontend-lint

refactor: consolidate apiKeys store into environments store
  .kiro/specs/store-consolidation/design.md
  .kiro/specs/store-consolidation/requirements.md
  .kiro/specs/store-consolidation/tasks.md
  apps/web/src/app/core/validators/custom-validators.property.spec.ts
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.property.spec.ts
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.spec.ts
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.ts
  apps/web/src/app/features/customers/applications/components/environment-detail-page/environment-detail-page.component.property.spec.ts
  apps/web/src/app/features/customers/applications/components/environment-detail-page/environment-detail-page.component.ts
  apps/web/src/app/features/customers/applications/store/api-keys/api-keys.actions.ts
  apps/web/src/app/features/customers/applications/store/api-keys/api-keys.effects.ts
  apps/web/src/app/features/customers/applications/store/api-keys/api-keys.reducer.spec.ts
  apps/web/src/app/features/customers/applications/store/api-keys/api-keys.reducer.ts
  apps/web/src/app/features/customers/applications/store/api-keys/api-keys.selectors.spec.ts
  apps/web/src/app/features/customers/applications/store/api-keys/api-keys.selectors.ts
  apps/web/src/app/features/customers/applications/store/api-keys/api-keys.state.ts
  apps/web/src/app/features/customers/applications/store/api-keys/index.ts
  apps/web/src/app/features/customers/applications/store/environments/environments.actions.ts
  apps/web/src/app/features/customers/applications/store/environments/environments.effects.ts
  apps/web/src/app/features/customers/applications/store/environments/environments.reducer.property.spec.ts
  apps/web/src/app/features/customers/applications/store/environments/environments.reducer.ts
  apps/web/src/app/features/customers/applications/store/environments/environments.selectors.ts
  apps/web/src/app/features/customers/applications/store/environments/environments.state.ts
  apps/web/src/main.ts
Due: frontend-lint

feat: standardize user-layout menu width to match platform-layout
  apps/web/src/app/layouts/user-layout/user-layout.component.scss
Due: none

fix: constrain user-layout header width to match container
  apps/web/src/app/layouts/user-layout/user-layout.component.scss
Due: none

Path conditions:
  black: any of: ^apps/api/.*\.py$ and \.py$
  ruff: any of: ^apps/api/.*\.py$ and \.py$
  mypy: any of: ^apps/api/.*\.py$ and \.py$ and not (^apps/api/(lambdas/|core/testing/).*\.py$)
  bandit: any of: ^apps/api/.*\.py$ and \.py$ and not (^apps/api/(tests/|.*test.*\.py$|core/testing/))
  frontend-lint: any of: ^apps/web/.*\.(ts|html)$
  check-yaml: any of: \.(yaml|yml)$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  cdk-synth: any of: ^infrastructure/.*\.py$
  pytest-backend: any of: ^apps/api/.*\.py$
