Repository com-oneredboot/orb-integration-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, bandit, black-infra, ruff-infra, mypy-infra, frontend-lint, check-yaml, check-json, check-toml, cdk-synth, cdk-tests, pytest-backend, frontend-tests

black:
  name: Format Python with black
  entry: pipenv run black --line-length=100
  language: system

ruff:
  name: Lint Python with ruff
  entry: pipenv run ruff check
  language: system

mypy:
  name: Type check with mypy
  entry: pipenv run mypy --ignore-missing-imports
  language: system

bandit:
  name: Security check with bandit
  entry: pipenv run bandit -f json --skip B101
  language: system

black-infra:
  name: Format infrastructure Python with black
  entry: bash -c 'cd infrastructure && pipenv run black --line-length=100 "${@#infrastructure/}"' --
  language: system

ruff-infra:
  name: Lint infrastructure Python with ruff
  entry: bash -c 'cd infrastructure && pipenv run ruff check --ignore E402 "${@#infrastructure/}"' --
  language: system

mypy-infra:
  name: Type check infrastructure with mypy
  entry: bash -c 'cd infrastructure && pipenv run mypy --ignore-missing-imports "${@#infrastructure/}"' --
  language: system

frontend-lint:
  name: Lint frontend with ESLint
  entry: bash -c 'cd apps/web && npm run lint'
  language: system
  pass_filenames: false

check-yaml:
  name: Check YAML syntax
  entry: python -c "import yaml, sys; yaml.safe_load(open(sys.argv[1], encoding='utf-8'))"
  language: system

check-json:
  name: Check JSON syntax
  entry: python -c "import json, sys; json.load(open(sys.argv[1], encoding='utf-8'))"
  language: system

check-toml:
  name: Check TOML syntax
  entry: python -c "import tomllib, sys; tomllib.load(open(sys.argv[1], 'rb'))"
  language: system

cdk-synth:
  name: CDK synth validation
  entry: bash -c 'cd infrastructure && pipenv run cdk synth --quiet'
  language: system
  pass_filenames: false

cdk-tests:
  name: Run CDK infrastructure tests
  entry: bash -c 'cd infrastructure && PIPENV_IGNORE_VIRTUALENVS=1 pipenv run pytest cdk/tests/ --tb=short -q'
  language: system
  pass_filenames: false

pytest-backend:
  name: Run backend tests
  entry: bash -c 'cd apps/api && pipenv run pytest lambdas/ core/testing/ --tb=short -q'
  language: system
  pass_filenames: false

frontend-tests:
  name: Run frontend tests
  entry: bash -c 'cd apps/web && npm test -- --no-watch --browsers=ChromeHeadless'
  language: system
  pass_filenames: false

docs: update user identity model documentation
  docs/api.md
  docs/schema.md
Due: none

fix: wrap property-based test assertions with expect().not.toThrow()
  .kiro/specs/application-users-management/design.md
  .kiro/specs/application-users-management/requirements.md
  .kiro/specs/application-users-management/tasks.md
  apps/api/lambdas/get_application_users/__init__.py
  apps/api/lambdas/get_application_users/index.py
  apps/api/lambdas/get_application_users/test_get_application_users.py
  apps/api/lambdas/get_application_users/test_get_application_users_property.py
  apps/api/tests/schemas/test_application_user_roles_schema.py
  apps/web/src/app/core/services/users.service.ts
  apps/web/src/app/features/customers/users/IMPLEMENTATION_GUIDE.md
  apps/web/src/app/features/customers/users/components/users-list/users-list.component.html
  apps/web/src/app/features/customers/users/components/users-list/users-list.component.property.spec.ts
  apps/web/src/app/features/customers/users/components/users-list/users-list.component.spec.ts
  apps/web/src/app/features/customers/users/components/users-list/users-list.component.ts
  apps/web/src/app/features/customers/users/store/users.actions.ts
  apps/web/src/app/features/customers/users/store/users.effects.spec.ts
  apps/web/src/app/features/customers/users/store/users.effects.ts
  apps/web/src/app/features/customers/users/store/users.reducer.property.spec.ts
  apps/web/src/app/features/customers/users/store/users.reducer.spec.ts
  apps/web/src/app/features/customers/users/store/users.reducer.ts
  apps/web/src/app/features/customers/users/store/users.selectors.property.spec.ts
  apps/web/src/app/features/customers/users/store/users.selectors.spec.ts
  apps/web/src/app/features/customers/users/store/users.selectors.ts
  apps/web/src/app/features/customers/users/store/users.state.ts
  apps/web/src/app/graphql-utils.ts
  docs/user-management-views.md
Due: black, ruff, mypy, bandit, frontend-lint, pytest-backend, frontend-tests

feat(sdk): implement orb-sdk infrastructure and TypeScript SDK core
  .kiro/specs/application-users-management/tasks.md
  .kiro/specs/orb-sdk/tasks.md
  CHANGELOG.md
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/src/app/core/services/users.service.ts
  apps/web/src/app/features/customers/users/components/users-list/users-list.component.html
  apps/web/src/app/features/customers/users/components/users-list/users-list.component.property.spec.ts
  apps/web/src/app/features/customers/users/components/users-list/users-list.component.spec.ts
  apps/web/src/app/features/customers/users/components/users-list/users-list.component.ts
  apps/web/src/app/features/customers/users/store/users.selectors.spec.ts
  apps/web/src/app/features/customers/users/users.routes.spec.ts
  docs/api.md
  docs/schema.md
  docs/user-management-views.md
  infrastructure/cdk/app.py
  infrastructure/cdk/stacks/__init__.py
  infrastructure/cdk/stacks/appsync_sdk_stack.py
  infrastructure/cdk/stacks/lambda_stack.py
  infrastructure/cdk/tests/test_appsync_sdk_stack.py
  infrastructure/cdk/tests/test_lambda_stack.py
  packages/orb-sdk-core/.eslintrc.json
  packages/orb-sdk-core/README.md
  packages/orb-sdk-core/package.json
  packages/orb-sdk-core/src/auth/auth-module.ts
  packages/orb-sdk-core/src/auth/token-manager.ts
  packages/orb-sdk-core/src/auth/token-storage.ts
  packages/orb-sdk-core/src/auth/types.ts
  packages/orb-sdk-core/src/authorization/authorization-module.ts
  packages/orb-sdk-core/src/authorization/types.ts
  packages/orb-sdk-core/src/client/orb-client.ts
  packages/orb-sdk-core/src/errors/errors.ts
  packages/orb-sdk-core/src/events/event-emitter.ts
  packages/orb-sdk-core/src/events/types.ts
  packages/orb-sdk-core/src/index.ts
  packages/orb-sdk-core/tsconfig.json
  packages/orb-sdk-core/vitest.config.ts
Due: black-infra, ruff-infra, mypy-infra, frontend-lint, check-json, cdk-synth, cdk-tests, frontend-tests

feat: add product completion phases spec
  .kiro/specs/product-completion-phases/.config.kiro
  .kiro/specs/product-completion-phases/design.md
  .kiro/specs/product-completion-phases/requirements.md
  .kiro/specs/product-completion-phases/tasks.md
Due: none

feat: implement application users management (Phase 1)
  apps/web/src/app/core/services/application-users.service.ts
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.html
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.ts
  apps/web/src/app/features/customers/applications/components/application-users-list/application-users-list.component.html
  apps/web/src/app/features/customers/applications/components/application-users-list/application-users-list.component.scss
  apps/web/src/app/features/customers/applications/components/application-users-list/application-users-list.component.ts
  apps/web/src/app/features/customers/applications/components/assign-user-dialog/assign-user-dialog.component.html
  apps/web/src/app/features/customers/applications/components/assign-user-dialog/assign-user-dialog.component.scss
  apps/web/src/app/features/customers/applications/components/assign-user-dialog/assign-user-dialog.component.ts
  apps/web/src/app/features/customers/applications/components/confirm-unassign-dialog/confirm-unassign-dialog.component.html
  apps/web/src/app/features/customers/applications/components/confirm-unassign-dialog/confirm-unassign-dialog.component.scss
  apps/web/src/app/features/customers/applications/components/confirm-unassign-dialog/confirm-unassign-dialog.component.ts
  apps/web/src/app/features/customers/applications/components/edit-user-role-dialog/edit-user-role-dialog.component.html
  apps/web/src/app/features/customers/applications/components/edit-user-role-dialog/edit-user-role-dialog.component.scss
  apps/web/src/app/features/customers/applications/components/edit-user-role-dialog/edit-user-role-dialog.component.ts
  apps/web/src/app/features/customers/applications/store/application-users/application-users.actions.ts
  apps/web/src/app/features/customers/applications/store/application-users/application-users.effects.ts
  apps/web/src/app/features/customers/applications/store/application-users/application-users.reducer.ts
  apps/web/src/app/features/customers/applications/store/application-users/application-users.selectors.ts
  apps/web/src/app/features/customers/applications/store/application-users/application-users.state.ts
Due: frontend-lint, frontend-tests

feat: implement application roles management
  apps/web/src/app/core/services/application-roles.service.ts
  apps/web/src/app/features/customers/applications/components/application-roles-list/application-roles-list.component.html
  apps/web/src/app/features/customers/applications/components/application-roles-list/application-roles-list.component.scss
  apps/web/src/app/features/customers/applications/components/application-roles-list/application-roles-list.component.ts
  apps/web/src/app/features/customers/applications/components/create-role-dialog/create-role-dialog.component.html
  apps/web/src/app/features/customers/applications/components/create-role-dialog/create-role-dialog.component.scss
  apps/web/src/app/features/customers/applications/components/create-role-dialog/create-role-dialog.component.ts
  apps/web/src/app/features/customers/applications/components/edit-role-dialog/edit-role-dialog.component.html
  apps/web/src/app/features/customers/applications/components/edit-role-dialog/edit-role-dialog.component.scss
  apps/web/src/app/features/customers/applications/components/edit-role-dialog/edit-role-dialog.component.ts
  apps/web/src/app/features/customers/applications/store/application-roles/application-roles.actions.ts
  apps/web/src/app/features/customers/applications/store/application-roles/application-roles.effects.ts
  apps/web/src/app/features/customers/applications/store/application-roles/application-roles.reducer.ts
  apps/web/src/app/features/customers/applications/store/application-roles/application-roles.selectors.ts
  apps/web/src/app/features/customers/applications/store/application-roles/application-roles.state.ts
  apps/web/src/app/features/customers/applications/store/application-roles/index.ts
Due: frontend-lint, frontend-tests

chore: update specs and frontend utilities
  .kiro/specs/application-roles-management/.config.kiro
  .kiro/specs/application-roles-management/design.md
  .kiro/specs/application-roles-management/requirements.md
  .kiro/specs/application-roles-management/tasks.md
  .kiro/specs/application-users-management/design.md
  .kiro/specs/application-users-management/requirements.md
  .kiro/specs/application-users-management/tasks.md
  .kiro/specs/repository-standards-phase-2/design.md
  .kiro/specs/repository-standards-phase-2/requirements.md
  .kiro/specs/repository-standards-phase-2/tasks.md
  .kiro/specs/simplify-roles-remove-groups/.config.kiro
  .kiro/specs/simplify-roles-remove-groups/design.md
  .kiro/specs/simplify-roles-remove-groups/requirements.md
  .kiro/specs/simplify-roles-remove-groups/tasks.md
  apps/web/package.json
  apps/web/src/app/features/user/components/dashboard/quick-actions-nav/quick-actions-nav.component.html
  apps/web/src/app/features/user/components/dashboard/quick-actions-nav/quick-actions-nav.component.scss
  apps/web/src/app/features/user/components/dashboard/quick-actions-nav/quick-actions-nav.component.spec.ts
  apps/web/src/app/features/user/components/dashboard/quick-actions-nav/quick-actions-nav.component.ts
  apps/web/src/main.ts
Due: frontend-lint, check-json, frontend-tests

fix: update DynamoDB table count test to expect 14 tables
  infrastructure/cdk/tests/test_dynamodb_stack.py
Due: black-infra, ruff-infra, mypy-infra, cdk-synth, cdk-tests

docs: update product completion spec for invitation-based user management
  .kiro/specs/product-completion-phases/design.md
  .kiro/specs/product-completion-phases/requirements.md
  .kiro/specs/product-completion-phases/tasks.md
Due: none

fix: update deploy-infrastructure workflow for new backend stack
  .github/workflows/deploy-infrastructure.yml
Due: check-yaml

docs: update steering files and cleanup obsolete files
  .kiro/steering/infrastructure.md
  .kiro/steering/project-standards.md
  SCHEMA_UPGRADE_VALIDATION.md
  apps/web/src/app/graphql-utils.ts
  infrastructure/cdk/stacks/appsync_sdk_stack.py
Due: black-infra, ruff-infra, mypy-infra, frontend-lint, cdk-synth, cdk-tests, frontend-tests

test: remove obsolete stack test files
  infrastructure/cdk/tests/test_appsync_sdk_stack.py
  infrastructure/cdk/tests/test_appsync_stack.py
  infrastructure/cdk/tests/test_dynamodb_stack.py
  infrastructure/cdk/tests/test_iam_policy_scoping.py
  infrastructure/cdk/tests/test_lambda_stack.py
  infrastructure/cdk/tests/test_pitr_enablement.py
  infrastructure/cdk/tests/test_waf_configuration.py
Due: black-infra, ruff-infra, mypy-infra, cdk-synth, cdk-tests

fix: correct stack dependencies - backend depends on lambda
  infrastructure/cdk/app.py
Due: black-infra, ruff-infra, mypy-infra, cdk-synth, cdk-tests

refactor: break backend into separate DynamoDB and AppSync stacks
  infrastructure/cdk/app.py
  infrastructure/cdk/lib/backend_stack.py
  infrastructure/cdk/stacks/__init__.py
  infrastructure/cdk/stacks/appsync_stack.py
  infrastructure/cdk/stacks/dynamodb_stack.py
Due: black-infra, ruff-infra, mypy-infra, cdk-synth, cdk-tests

fix: correct SSM parameter path for users table in Lambda stack
  infrastructure/cdk/stacks/lambda_stack.py
Due: black-infra, ruff-infra, mypy-infra, cdk-synth, cdk-tests

fix: add Lambda stack dependency to AppSync stack
  infrastructure/cdk/app.py
Due: black-infra, ruff-infra, mypy-infra, cdk-synth, cdk-tests

fix: ensure Bootstrap deploys before Cognito and DynamoDB
  infrastructure/cdk/app.py
Due: black-infra, ruff-infra, mypy-infra, cdk-synth, cdk-tests

refactor: use generated BackendStack, add GetApplicationUsers Lambda
  infrastructure/cdk/app.py
  infrastructure/cdk/stacks/__init__.py
  infrastructure/cdk/stacks/appsync_stack.py
  infrastructure/cdk/stacks/dynamodb_stack.py
  infrastructure/cdk/stacks/lambda_stack.py
Due: black-infra, ruff-infra, mypy-infra, cdk-synth, cdk-tests

refactor: disable BackendStack generation, use manual DynamoDB stack
  infrastructure/cdk/app.py
  infrastructure/cdk/generated/appsync/__init__.py
  infrastructure/cdk/lib/backend_stack.py
  infrastructure/cdk/stacks/__init__.py
  infrastructure/cdk/stacks/dynamodb_stack.py
  schema-generator.yml
Due: black-infra, ruff-infra, mypy-infra, check-yaml, cdk-synth, cdk-tests

refactor: rename CDK stacks to use descriptive names
  .kiro/specs/infrastructure-stack-refactoring/.config.kiro
  .kiro/specs/infrastructure-stack-refactoring/design.md
  .kiro/specs/infrastructure-stack-refactoring/requirements.md
  .kiro/specs/infrastructure-stack-refactoring/tasks.md
  CHANGELOG.md
  README.md
  infrastructure/cdk/README.md
  infrastructure/cdk/app.py
  infrastructure/cdk/stacks/__init__.py
  infrastructure/cdk/stacks/api_stack.py
  infrastructure/cdk/stacks/authorization_stack.py
  infrastructure/cdk/stacks/compute_stack.py
  infrastructure/cdk/stacks/data_stack.py
  infrastructure/cdk/stacks/dynamodb_stack.py
  infrastructure/cdk/tests/test_authorization_stack.py
Due: black-infra, ruff-infra, mypy-infra, cdk-synth, cdk-tests

chore: update task status for infrastructure stack refactoring
  .kiro/specs/infrastructure-stack-refactoring/tasks.md
Due: none

chore: remove obsolete stack files
  infrastructure/cdk/stacks/appsync_sdk_stack.py.old
  infrastructure/cdk/stacks/appsync_stack.py.old
  infrastructure/cdk/stacks/dynamodb_stack.py.old
  infrastructure/cdk/stacks/webhook_stack.py
Due: black-infra, ruff-infra, mypy-infra, cdk-synth, cdk-tests

chore: update deploy-infrastructure workflow for new stack names
  .github/workflows/deploy-infrastructure.yml
Due: check-yaml

refactor: remove stack_prefix variable, construct names inline
  infrastructure/cdk/app.py
Due: black-infra, ruff-infra, mypy-infra, cdk-synth, cdk-tests

fix: update test_cognito_advanced_security to use AuthorizationStack
  infrastructure/cdk/tests/test_cognito_advanced_security.py
Due: black-infra, ruff-infra, mypy-infra, cdk-synth, cdk-tests

fix: resolve Lambda asset path and test file references for GitHub Actions
  infrastructure/cdk/stacks/authorization_stack.py
  infrastructure/cdk/tests/test_lambda_security_property.py
Due: black-infra, ruff-infra, mypy-infra, cdk-synth, cdk-tests

fix: correct Lambda asset path resolution to use 4 parent levels
  infrastructure/cdk/stacks/authorization_stack.py
  test_commit.txt
Due: black-infra, ruff-infra, mypy-infra, cdk-synth, cdk-tests

fix: update all Lambda asset paths in Compute Stack to use Path-based resolution
  infrastructure/cdk/stacks/compute_stack.py
Due: black-infra, ruff-infra, mypy-infra, cdk-synth, cdk-tests

fix: use environment-specific bucket names in bootstrap stack
  infrastructure/cdk/stacks/bootstrap_stack.py
Due: black-infra, ruff-infra, mypy-infra, cdk-synth, cdk-tests

cleanup
  test_commit.txt
Due: none

fix: update bootstrap stack tests for environment-specific bucket names
  infrastructure/cdk/tests/test_bootstrap_stack.py
Due: black-infra, ruff-infra, mypy-infra, cdk-synth, cdk-tests

fix: add missing enum definitions to SDK GraphQL schema
  apps/api/graphql-sdk/schema.graphql
  apps/api/graphql/schema.graphql
Due: none

docs: add third-party authentication flow documentation
  docs/authentication-flow.md
Due: none

docs: update security status - all 8 concerns to be addressed in spec
  docs/authentication-flow.md
Due: none

Path conditions:
  black: any of: ^apps/api/.*\.py$ and \.py$
  ruff: any of: ^apps/api/.*\.py$ and \.py$
  mypy: any of: ^apps/api/.*\.py$ and \.py$ and not (^apps/api/(lambdas/|core/testing/).*\.py$)
  bandit: any of: ^apps/api/.*\.py$ and \.py$ and not (^apps/api/(tests/|.*test.*\.py$|core/testing/))
  black-infra: any of: ^infrastructure/.*\.py$ and \.py$
  ruff-infra: any of: ^infrastructure/.*\.py$ and \.py$
  mypy-infra: any of: ^infrastructure/.*\.py$ and \.py$ and not (^infrastructure/cdk\.out/)
  frontend-lint: any of: ^apps/web/.*\.(ts|html)$
  check-yaml: any of: \.(yaml|yml)$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  cdk-synth: any of: ^infrastructure/.*\.py$
  cdk-tests: any of: ^infrastructure/.*\.py$
  pytest-backend: any of: ^apps/api/.*\.py$
  frontend-tests: any of: ^apps/web/.*\.(ts|html)$
