Repository com-oneredboot/orb-integration-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, bandit, black-infra, ruff-infra, mypy-infra, frontend-lint, check-yaml, check-json, check-toml, cdk-synth, cdk-tests, pytest-backend, frontend-tests

black:
  name: Format Python with black
  entry: pipenv run black --line-length=100
  language: system

ruff:
  name: Lint Python with ruff
  entry: pipenv run ruff check
  language: system

mypy:
  name: Type check with mypy
  entry: pipenv run mypy --ignore-missing-imports
  language: system

bandit:
  name: Security check with bandit
  entry: pipenv run bandit -f json --skip B101
  language: system

black-infra:
  name: Format infrastructure Python with black
  entry: bash -c 'cd infrastructure && pipenv run black --line-length=100 "${@#infrastructure/}"' --
  language: system

ruff-infra:
  name: Lint infrastructure Python with ruff
  entry: bash -c 'cd infrastructure && pipenv run ruff check --ignore E402 "${@#infrastructure/}"' --
  language: system

mypy-infra:
  name: Type check infrastructure with mypy
  entry: bash -c 'cd infrastructure && pipenv run mypy --ignore-missing-imports "${@#infrastructure/}"' --
  language: system

frontend-lint:
  name: Lint frontend with ESLint
  entry: bash -c 'cd apps/web && npm run lint'
  language: system
  pass_filenames: false

check-yaml:
  name: Check YAML syntax
  entry: python -c "import yaml, sys; yaml.safe_load(open(sys.argv[1], encoding='utf-8'))"
  language: system

check-json:
  name: Check JSON syntax
  entry: python -c "import json, sys; json.load(open(sys.argv[1], encoding='utf-8'))"
  language: system

check-toml:
  name: Check TOML syntax
  entry: python -c "import tomllib, sys; tomllib.load(open(sys.argv[1], 'rb'))"
  language: system

cdk-synth:
  name: CDK synth validation
  entry: bash -c 'cd infrastructure && pipenv run cdk synth --quiet'
  language: system
  pass_filenames: false

cdk-tests:
  name: Run CDK infrastructure tests
  entry: bash -c 'cd infrastructure && PIPENV_IGNORE_VIRTUALENVS=1 pipenv run pytest cdk/tests/ --tb=short -q'
  language: system
  pass_filenames: false

pytest-backend:
  name: Run backend tests
  entry: bash -c 'cd apps/api && pipenv run pytest lambdas/ core/testing/ --tb=short -q'
  language: system
  pass_filenames: false

frontend-tests:
  name: Run frontend tests
  entry: bash -c 'cd apps/web && npm test -- --no-watch --browsers=ChromeHeadless'
  language: system
  pass_filenames: false

feat: add third-party OAuth authentication flow to production readiness spec
  .kiro/specs/production-readiness-features/requirements.md
Due: none

docs: align requirements with orb-templates spec standards
  .kiro/specs/production-readiness-features/requirements.md
Due: none

docs: add strict API boundary definitions to prevent crosstalk
  .kiro/specs/production-readiness-features/requirements.md
Due: none

fix: resolve 71 frontend test failures (103→32)
  .kiro/specs/production-readiness-features/requirements.md
  apps/web/src/app/core/config/fontawesome-icons.ts
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.spec.ts
  apps/web/src/app/features/customers/applications/components/applications-list/applications-list.component.spec.ts
  apps/web/src/app/features/customers/applications/components/environment-detail-page/environment-detail-page.component.spec.ts
  apps/web/src/app/features/user/components/dashboard/quick-actions-nav/quick-actions-nav.component.ts
  apps/web/src/app/layouts/pages/user-page/user-page.component.spec.ts
  apps/web/src/app/shared/components/breadcrumb/breadcrumb.component.html
  apps/web/src/app/shared/components/breadcrumb/breadcrumb.component.property.spec.ts
  apps/web/src/app/shared/components/breadcrumb/breadcrumb.component.spec.ts
Due: frontend-lint, frontend-tests

fix: resolve 9 frontend test failures (14→5)
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.spec.ts
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.ts
  apps/web/src/app/features/customers/applications/components/environment-detail-page/environment-detail-page.component.spec.ts
  apps/web/src/app/features/user/components/dashboard/dashboard.component.spec.ts
Due: frontend-lint, frontend-tests

fix: resolve all 6 remaining frontend test failures (100% pass rate)
  apps/web/src/app/features/customers/applications/components/application-detail-page/api-key-lifecycle.property.spec.ts
  apps/web/src/app/features/customers/applications/components/environment-detail-page/environment-detail-page.component.property.spec.ts
  apps/web/src/app/features/customers/applications/components/environment-detail-page/environment-detail-page.component.ts
Due: frontend-lint, frontend-tests

docs: add bugfix spec for frontend test failures
  .kiro/specs/fix-frontend-test-failures/.config.kiro
  .kiro/specs/fix-frontend-test-failures/bugfix.md
  .kiro/specs/fix-frontend-test-failures/design.md
  .kiro/specs/fix-frontend-test-failures/tasks.md
Due: none

chore: commit work in progress files
  .github/ISSUES/README.md
  .github/ISSUES/orb-templates-kiro-powers-integration.md
  .kiro/hooks/figma-code-connect.kiro.hook
  .kiro/settings/mcp.json
  .kiro/specs/production-readiness-features/.config.kiro
  .kiro/specs/production-readiness-features/design.md
  .kiro/specs/production-readiness-features/requirements.md
  .kiro/steering/design-system.md
  .kiro/steering/project-standards.md
  apps/web/package-lock.json
  apps/web/src/app/features/customers/applications/components/applications-list/applications-list.component.spec.ts
  apps/web/src/app/features/customers/organizations/components/organizations-list/organizations-list.component.spec.ts
  docs/architecture/third-party-authentication-flow.md
  docs/design/capture-screenshots.md
  docs/design/component-inventory.md
  docs/design/designer-handoff-package.md
  docs/design/figma-ai-workflow.md
  docs/design/figma-tokens.json
  docs/design/screenshot-checklist.md
  docs/design/screenshots/authenticate_1_of_4.png
  docs/sdk-authentication-flow.md
Due: frontend-lint, check-json, frontend-tests

chore: add merge scripts for production readiness spec
  .kiro/specs/production-readiness-features/do_merge.py
  .kiro/specs/production-readiness-features/merge-design.py
  .kiro/specs/production-readiness-features/merge.sh
  .kiro/specs/production-readiness-features/run_merge.sh
Due: none

docs: analyze Angular 20 and 21 breaking changes
  .kiro/specs/angular-21-upgrade/tasks.md
  apps/web/angular-20-21-breaking-changes.md
Due: none

test: add property tests for Angular version consistency #angular-21-upgrade
  .kiro/specs/angular-21-upgrade/tasks.md
  apps/web/src/app/upgrade-verification.spec.ts
Due: frontend-lint, frontend-tests

feat: upgrade to Angular 21
  .kiro/specs/angular-21-upgrade/tasks.md
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/src/app/upgrade-verification.spec.ts
  apps/web/tsconfig.json
Due: frontend-lint, check-json, frontend-tests

chore: update task status for Angular 21 upgrade completion
  .kiro/specs/angular-21-upgrade/tasks.md
Due: none

fix: remove unnecessary optional chaining operators in UserPageComponent template
  apps/web/src/app/layouts/pages/user-page/user-page.component.html
Due: frontend-lint, frontend-tests

fix: set CDK bootstrap qualifier to 'orb' instead of default
  infrastructure/cdk.json
Due: check-json

fix: use custom CDK bootstrap qualifier 'orb' in all stacks
  infrastructure/cdk/app.py
Due: black-infra, ruff-infra, mypy-infra, cdk-synth, cdk-tests

feat: add local E2E testing setup with Playwright
  .kiro/specs/local-e2e-testing-setup/.config.kiro
  .kiro/specs/local-e2e-testing-setup/design.md
  .kiro/specs/local-e2e-testing-setup/requirements.md
  .kiro/specs/local-e2e-testing-setup/tasks.md
  .kiro/steering/project-standards.md
  CHANGELOG.md
  README.md
  apps/web/.env.test.example
  apps/web/.gitignore
  apps/web/README.md
  apps/web/e2e/README.md
  apps/web/e2e/auth/cognito.ts
  apps/web/e2e/fixtures/index.ts
  apps/web/e2e/tests/example.spec.ts
  apps/web/e2e/utils/index.ts
  apps/web/package.json
  apps/web/playwright.config.ts
Due: frontend-lint, check-json, frontend-tests

feat: add SdkApiService, update environment config, and route pre-auth operations through SDK API
  apps/web/scripts/setup-dev-env.js
  apps/web/src/app/core/services/api.service.ts
  apps/web/src/app/core/services/sdk-api.service.ts
  apps/web/src/app/core/services/user.service.ts
  apps/web/src/environments/environment.local.ts
  apps/web/src/environments/environment.prod.ts
  apps/web/src/environments/environment.ts
Due: frontend-lint, frontend-tests

feat: migrate pre-auth operations to SDK API, update docs and version
  .kiro/specs/e2e-auth-tests/.config.kiro
  .kiro/specs/e2e-auth-tests/design.md
  .kiro/specs/e2e-auth-tests/requirements.md
  .kiro/specs/e2e-auth-tests/tasks.md
  .kiro/specs/migrate-auth-to-sdk-api/.config.kiro
  .kiro/specs/migrate-auth-to-sdk-api/design.md
  .kiro/specs/migrate-auth-to-sdk-api/requirements.md
  .kiro/specs/migrate-auth-to-sdk-api/tasks.md
  .kiro/specs/playwright-e2e-tests/.config.kiro
  .kiro/specs/playwright-e2e-tests/requirements.md
  .kiro/steering/project-standards.md
  CHANGELOG.md
  apps/api/graphql-sdk/schema.graphql
  apps/api/graphql/schema.graphql
  apps/web/e2e/README.md
  apps/web/e2e/tests/auth.spec.ts
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/playwright.config.ts
  apps/web/scripts/README.md
  apps/web/scripts/secrets-retrieval.js
  apps/web/scripts/setup-dev-env.js
  apps/web/scripts/test-replace-secrets.js
  apps/web/src/main.ts
  run_e2e_generator.py
  schemas/lambdas/CheckEmailExists.yml
  schemas/lambdas/CreateUserFromCognito.yml
Due: frontend-lint, check-yaml, check-json, frontend-tests

feat: complete migrate-auth-to-sdk-api spec - version bump, tests, and changelog #67, #68
  .kiro/specs/migrate-auth-to-sdk-api/tasks.md
  CHANGELOG.md
  apps/web/package.json
  apps/web/src/app/core/services/api.service.spec.ts
  apps/web/src/app/core/services/sdk-api.service.spec.ts
  apps/web/src/app/core/services/user.service.spec.ts
Due: frontend-lint, check-json, frontend-tests

fix: use default CDK bootstrap qualifier instead of custom 'orb'
  infrastructure/cdk.json
  infrastructure/cdk/app.py
Due: black-infra, ruff-infra, mypy-infra, check-json, cdk-synth, cdk-tests

fix: add graphql-sdk target to ApplicationStatus and UserStatus registries
  apps/api/graphql-sdk/schema.graphql
  schemas/registries/ApplicationStatus.yml
  schemas/registries/UserStatus.yml
Due: check-yaml

chore: mark all migrate-auth-to-sdk-api spec tasks as completed
  .kiro/specs/migrate-auth-to-sdk-api/tasks.md
Due: none

test: add property-based tests for auth helper functions (generateTestEmail, generateTestPassword)
  .kiro/specs/e2e-auth-tests/tasks.md
  apps/web/e2e/tests/auth-helpers.property.spec.ts
Due: frontend-lint, frontend-tests

fix: resolve NG0100 ExpressionChangedAfterItHasBeenCheckedError in auth-flow component
  apps/web/src/app/features/user/components/auth-flow/auth-flow.component.ts
Due: frontend-lint, frontend-tests

docs: add Angular NG0100 prevention pattern to TypeScript coding standards
  repositories/orb-templates/docs/coding-standards/typescript.md
Due: none

fix: defer auth-flow initialization to prevent NG0100 error
  apps/web/src/app/features/user/components/auth-flow/auth-flow.component.ts
Due: frontend-lint, frontend-tests

fix: explicitly initialize loading states in auth-flow constructor
  apps/web/src/app/features/user/components/auth-flow/auth-flow.component.ts
Due: frontend-lint, frontend-tests

fix: eliminate unnecessary Cognito API calls on app startup
  .kiro/specs/fix-cognito-startup-api-calls/.config.kiro
  .kiro/specs/fix-cognito-startup-api-calls/bugfix.md
  .kiro/specs/fix-cognito-startup-api-calls/design.md
  .kiro/specs/fix-cognito-startup-api-calls/preservation-tests-summary.md
  .kiro/specs/fix-cognito-startup-api-calls/tasks.md
  apps/web/src/app/core/services/cognito.service.bug-exploration.spec.ts
  apps/web/src/app/core/services/cognito.service.preservation.spec.ts
  apps/web/src/app/core/services/cognito.service.spec.ts
  apps/web/src/app/core/services/cognito.service.ts
Due: frontend-lint, frontend-tests

fix: use Amplify v6 fetchAuthSession for local token check
  apps/web/src/app/core/services/cognito.service.ts
Due: frontend-lint, frontend-tests

fix: remove unnecessary real-time validation causing NG0100 error
  apps/web/src/app/features/user/components/auth-flow/auth-flow.component.ts
Due: frontend-lint, frontend-tests

fix: prevent unnecessary Cognito API calls on app startup
  apps/web/src/app/core/services/cognito.service.ts
Due: frontend-lint, frontend-tests

chore: replace console.log/info with console.debug for production cleanliness
  .kiro/specs/console-logging-cleanup/.config.kiro
  .kiro/specs/console-logging-cleanup/design.md
  .kiro/specs/console-logging-cleanup/requirements.md
  .kiro/specs/console-logging-cleanup/tasks.md
  CHANGELOG.md
  apps/web/package.json
  apps/web/src/app/core/services/error-handler.service.ts
  apps/web/src/app/core/services/rate-limiting.service.ts
  apps/web/src/app/core/testing/organization-test-data.factory.ts
  apps/web/src/app/features/customers/applications/components/application-detail-page/application-detail-page.component.ts
  apps/web/src/app/features/customers/applications/store/application-roles/application-roles.effects.ts
  apps/web/src/app/features/customers/applications/store/applications.effects.ts
  apps/web/src/app/features/customers/applications/store/environments/environments.effects.ts
  apps/web/src/app/features/customers/applications/utils/api-key-validation.ts
  apps/web/src/app/features/user/components/auth-flow/auth-flow.component.ts
  apps/web/src/app/features/user/components/dashboard/dashboard.component.ts
  apps/web/src/app/features/user/store/user.effects.ts
  apps/web/src/app/features/user/store/user.reducer.ts
  apps/web/src/app/layouts/user-layout/user-layout.component.ts
  apps/web/src/main.ts
Due: frontend-lint, check-json, frontend-tests

fix: add keyHash field to SDK API key for Lambda authorizer
  .gitignore
  apps/web/src/app/features/user/components/auth-flow/auth-flow.component.html
  apps/web/src/app/features/user/components/auth-flow/auth-flow.component.scss
Due: frontend-lint, frontend-tests

fix: update users component tests to match new architecture
  apps/web/src/app/features/customers/users/components/users-list/users-list.component.property.spec.ts
  apps/web/src/app/features/customers/users/components/users-list/users-list.component.spec.ts
Due: frontend-lint, frontend-tests

Path conditions:
  black: any of: ^apps/api/.*\.py$ and \.py$
  ruff: any of: ^apps/api/.*\.py$ and \.py$
  mypy: any of: ^apps/api/.*\.py$ and \.py$ and not (^apps/api/(lambdas/|core/testing/).*\.py$)
  bandit: any of: ^apps/api/.*\.py$ and \.py$ and not (^apps/api/(tests/|.*test.*\.py$|core/testing/))
  black-infra: any of: ^infrastructure/.*\.py$ and \.py$
  ruff-infra: any of: ^infrastructure/.*\.py$ and \.py$
  mypy-infra: any of: ^infrastructure/.*\.py$ and \.py$ and not (^infrastructure/cdk\.out/)
  frontend-lint: any of: ^apps/web/.*\.(ts|html)$
  check-yaml: any of: \.(yaml|yml)$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  cdk-synth: any of: ^infrastructure/.*\.py$
  cdk-tests: any of: ^infrastructure/.*\.py$
  pytest-backend: any of: ^apps/api/.*\.py$
  frontend-tests: any of: ^apps/web/.*\.(ts|html)$
